/*-------------------------------------------------------------------------------------------*/
/* gomysites admin styles */
/*-------------------------------------------------------------------------------------------*/

.updated, .error { display: none !important; } /* disable the admin notices */
#theme_update.updated { display: block !important; } /* Except for the theme update notifier */
#gomy_container  { margin: 15px; width: 827px; position:relative; z-index: 0 }
#gomy_container #header{height:80px;background:#F3F3F3;border:1px solid #D8D8D8;border-top-left-radius:5px;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-moz-border-radius-topright:5px;
-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,.2) , inset -1px -1px 0 rgba(255,255,255,.2);
   -moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,.2) , inset -1px -1px 0 rgba(255,255,255,.2);
        box-shadow:inset 1px 1px 0 rgba(255,255,255,.2) , inset -1px -1px 0 rgba(255,255,255,.2);}
#gomy_container #header .logo{float:left;margin:11px 0 0 25px;height:60px;}
#gomy_container #header .theme-info  { float: right; margin: 26px 25px 0 0; }
#gomy_container #header .theme-info span  { display: block; line-height: 15px; text-transform: uppercase; text-align: right; color: #4e4e4e; text-shadow: 1px 1px 0 #fff; }
#gomy_container #header .theme-info .theme  { font-size: 15px; font-weight: bold; }
#gomy_container #header .theme-info .framework  { font-size: 12px; }
#gomy_container #header .theme-info b { font-size: 11px; text-transform: none; color: #444; font-weight: 100; }

#gomy_container #support-links  { height: 32px; padding: 0 0 0 15px; background-color: #d7e6f2; border-top: 1px solid #f1f6fa; border-bottom: 1px solid #a4bbcd; border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; }
#gomy_container #support-links ul li  { display: inline; margin: 0 6px 0 0; }
#gomy_container #support-links ul li a:link, #support-links ul li a:visited  { line-height: 32px; font-size: 10px; font-weight: bold; text-transform: uppercase; text-decoration: none; color: #21759b; text-shadow: 1px 1px 0 #fff; }
#gomy_container #support-links ul li a:hover  { color: #155876; }
#gomy_container #support-links ul li.changelog  { padding: 2px 0 2px 20px; background: url(images/ico-changelog.png) no-repeat left center; }
#gomy_container #support-links ul li.docs  { padding: 1px 0 1px 20px; background: url(images/ico-docs.png) no-repeat left top; }
#gomy_container #support-links ul li.forum  { padding: 1px 0 1px 20px; background: url(images/ico-forum.png) no-repeat left top; }
#gomy_container #support-links ul li.right { float:right; margin-right:15px}

#gomy_container #main  { background-color: #f1f1f1; border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; }

#gomy_container #gomy-nav  { float: left; position: relative; z-index: 9999; width: 190px; }
#gomy_container #gomy-nav li { margin-bottom:0}
#gomy_container #gomy-nav ul li a:link, #gomy-nav ul li a:visited  { display: block; padding: 10px 10px 10px 15px; font:bold 12px/18px sans-serif; text-decoration: none; color: #797979; border-bottom: 1px solid #d8d8d8; border-top:1px solid #fff; text-shadow: 0 1px 0 #fff; }
#gomy_container #gomy-nav ul li.current a, #gomy-nav ul li a:hover  { color: #21759b; background-color: #fff; }

#gomy_container #gomy-nav li.styling,
#gomy_container #gomy-nav li.typography,
#gomy_container #gomy-nav li.connect{display:none;}

#gomy_container #content  { float: left; min-height: 650px; width: 595px; margin-left: -1px; padding: 0 20px; font-family: sans-serif; background-color: #fff; border-left: 1px solid #d8d8d8; }

#gomy_container #content .group h1 { display:none; padding: 20px 0; margin: 0 0 20px; font-size: 23px; color:#464646; font-weight:normal; border-bottom: 1px solid #e0e0e0; }

#gomy_container #content .section { margin-bottom: 10px; border-bottom: 1px solid #E7E7E7; padding-bottom:15px; }
#gomy_container #content .section h3.heading  { font-size:1.1em; margin: 15px 0 5px; padding: 7px 0px; }
#gomy_container #content .section.section-info { border-bottom: none; margin:0; padding:0; }
#gomy_container #content .section .controls  { float: left; width: 345px; margin: 0 15px 0 0; }
#gomy_container #content .section .explain  { float: left; width: 225px; padding: 0 10px 0 0; font-size: 11px; color: #999999; font-family: sans-serif; }

#gomy_container #content .section-checkbox .controls { width:25px}
#gomy_container #content .section-checkbox .explain { width:540px}

#gomy_container #content .section-color .controls { width:125px}
#gomy_container #content .section-color .explain { width:440px}

#gomy_container #content .section-info  h3.heading {
 font-size: 12px; font-weight: 100; border: 0; margin-top: 20px; letter-spacing: 1px;  border-top: 1px solid #FFF298; margin-bottom: 0; background:#EFE186; padding: 10px 20px; }
#gomy_container #content .section-info  .controls { margin: 0 0 10px; padding: 15px 20px; width: auto; line-height: 1.5em; font-size: 14px; font-style: italic; font-family: Georgia, serif; background: #FFF298; border:1px solid #ECD852; color:#424242;}
#gomy_container #content .section-info  .controls small { font-size: 12px}

#gomy_container #content .section-info  h3.heading {
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}
#gomy_container #content .section-info .controls{ 
	float:none;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px; 
}

#gomy_container textarea, #gomy_container input, #gomy_container select {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-border-radius:4px;
	border-style:solid;
	border-width:1px;
}

#gomy_container .controls input,#gomy_container .controls select,#gomy_container .controls textarea {
    margin-bottom: 9px !important;
    background-color: #fafafa;
    border: 1px solid;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    width: 340px;
    padding: 5px;
    font-family: sans-serif;
    font-size: 12px;
    color:#555;
}
#gomy_container .controls input:hover,#gomy_container .controls select:hover,#gomy_container .controls textarea:hover { color:#333; background: #fff;}

#gomy_container .controls input.upload { width:279px; padding-bottom:6px; }
#gomy_container .controls input.upload_button{ float:right; width:45px; border-color:#BBBBBB; cursor:pointer; height:16px; }
#gomy_container .controls input.upload_button:hover { border-color:#666666; color:#000; }

#gomy_container .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
	z-index: 1;
}

#gomy_container .screenshot img {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-border-radius:4px;
	background:#FAFAFA;
	border-color:#CCCCCC #EEEEEE #EEEEEE #CCCCCC;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
}

#gomy_container .screenshot .mlu_remove, #gomy_container .typography-preview-container .preview_remove { 

	background:url( "images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:-4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}

#gomy_container .screenshot .no_image .file_link {
	margin-left: 20px;
}

#gomy_container .screenshot .no_image .mlu_remove {
	bottom: 0px;
}


/* SELECT DROPDOWN */
#gomy_container #content select.gomy-input {
	cursor:pointer;
	height:28px;
	margin:0;
	opacity:0;
	padding:0;
	position:relative;
	width:inherit;
	z-index:4;
}

#gomy_container #content .select_wrapper {
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      font-family: sans-serif;
      font-size: 12px;
      background: #fafafa url(images/select.png) no-repeat right center;
      border-color: #ccc #eee #eee #ccc;
      border-style: solid;
      border-width: 1px;
      float: left;
      height: 26px;
      width: 344px;
      margin: 0;
      margin-bottom: 9px !important;
      width: 344px;
      display: block;
      color: #555;
}
#gomy_container #content .option-type .select_wrapper {
	background-color: #fff;
}
#gomy_container #content .select_wrapper:hover {
	background-color: #fff;
	border-color: #bbb #eee #eee #bbb;
	color: #333;
}
#gomy_container #content .select_wrapper span {
	height: 26px;
	line-height: 26px;
	position: absolute;
	z-index: 2;
	padding-left: 6px;
}


#gomy_container .colorSelector { margin-top:1px; }
#gomy_container .colorSelector:hover { cursor:pointer; }
#gomy_container .controls select { padding: 6px 4px; width: 340px }
#gomy_container .controls select:hover { cursor: pointer;}
#gomy_container .controls textarea {width: 345px; }

#gomy_container input[type=text], #gomy_container select { height:28px; }
#gomy_container input[type=text]  { width: 340px; }

#gomy_container input.gomy-input-calendar  { width: 320px; }

#gomy_container input.checkbox  { width: 30px; }
#gomy_container input.gomy-radio { width: 30px; }

#gomy_container .controls .input-text-small { width: 60px; margin-right:10px}
#gomy_container .meta-two { margin-right:10px}

#gomy_container .controls .gomy-color {float:left; width: 70px; margin-left:5px; /* font-size:20px; height:34px;*/}

#gomy_container #content .section-typography .controls  { width:440px }
#gomy_container #content .section-typography .explain  { width:120px }

#gomy_container .controls .gomy-typography-size { width:50px; float:left}
#gomy_container .controls .gomy-typography-unit { width:50px; float:left}
#gomy_container .controls .gomy-typography-face { width:100px; float:left}
#gomy_container .controls .gomy-typography-style { width:80px; float:left}
#gomy_container .controls .gomy-typography-preview-button { float: left; margin: 3px 0 0 5px; }
#gomy_container .controls .gomy-typography-preview-button span { background: transparent url(images/ico-preview.png) no-repeat center center; display: block; text-indent: -9999px; width: 14px; height: 16px; }
#gomy_container .controls .gomy-typography-preview-button span.refresh { background-image: url(images/ico-refresh.png); }
#gomy_container .typography-preview-container { clear: both; }
#gomy_container .typography-preview-container .preview_remove { position: relative; float: right; margin-bottom: -10px; margin-right: -10px; z-index: 99; }
#gomy_container .typography-preview { word-wrap: break-word; clear: both; padding: 20px; border: 1px solid #CCCCCC; background: #FDFDFD; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

.wf-loading #gomy_container .typography-preview.current { background: #FDFDFD url(images/loading-bottom.gif) no-repeat 560px center; } /* Class is dynamically added to the "html" tag. */

#gomy_container .controls .gomy-radio-img-img { border:3px solid #dedede; margin:0 5px 10px 0; display:none; cursor:pointer; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#gomy_container .controls .gomy-radio-img-selected { border:3px solid #aaa; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

#gomy_container .controls .gomy-border-width { width:80px; float:left}
#gomy_container .controls .gomy-border-style { width:120px; float:left}


#gomy_container .group { padding-bottom:20px}

#gomy_container input:focus,#gomy_container select:focus, #gomy_container textarea:focus { background:#fff;}

#gomy_container .happy {
    background: #DBF6BE no-repeat 10px center;
    border: solid #9BBF65;
    border-width: 0px 1px 1px 1px;
    color: #060;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#gomy_container  .warning {
    background: #ffeeee no-repeat 10px center;;
    border: solid #dfbfbf;
    border-width: 0px 1px 1px 1px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#gomy_container .update_available {

    background: #FFFEEB no-repeat 10px center;;
    border: solid #CCCCCC;
    border-width: 0px 1px 1px 1px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;

	
	
}

/*
#gomy_container .gomy-uploaded-image { border:2px solid #dedede; -moz-border-radius: 3px; display:block;}
#gomy_container .gomy-uploaded-image img {margin:5px;display:block}
*/

#gomy_container .gomy-save-popup { position:absolute; -moz-border-radius:12px; background:rgba(0,0,0,0.4); color:#fff; font-size:24px; text-align:center; display:none; z-index: 10; }

#gomy_container .gomy-save-save { background:url(images/happy.png) 20px 50% no-repeat; padding:30px 30px 30px 70px}
#gomy_container .gomy-save-reset { background:url(images/warning.png) 20px 50% no-repeat; padding:30px 30px 30px 70px}

.upload_button_div { margin-bottom: 10px;}
.upload_button_div .button { padding:4px 14px;
}
.upload_button_div  .image_reset_button { margin-left:10px}

.upload-error { float:left;color:#666; font-size:10px; font-weight:bold; text-decoration:none; text-shadow:1px 1px 0 #FFFFFF;
				  margin: 0 10px 0 0; padding:3px 10px; background:#FFDFEC; -moz-border-radius:4px}

.reset-button { color:#c77!important;text-shadow:0 1px 0 #fff !important;}
.reset-button:hover { border-color:#c77!important;}
.save_bar_top { background: #f3f3f3; border:solid #ccc; border-width:0px 1px 1px 1px; padding: 10px 20px 0px 20px; height: 35px; text-align: right;
/*INSET SHADOW*/
-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,.2), inset -1px -1px 0 rgba(255,255,255,.2);
-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,.2), inset -1px -1px 0 rgba(255,255,255,.2);
box-shadow: inset 1px 1px 0 rgba(255,255,255,.2), inset -1px -1px 0 rgba(255,255,255,.2);
}
#gomyform-reset { float:left; }

.hide {display:none}

.ajax-loading-img-top { margin: 8px 4px 0; float:left}
.ajax-loading-img-bottom {}

.gomy-option-image { max-width:340px; }

#gomy_container .mini .controls select, #gomy_container #content .section .mini .controls {width: 70px; }
#gomy_container .mini .controls input, #gomy_container #content .mini .controls {width: 70px; }

#gomy_container #content .mini .explain { width:500px; }

.gomy-notice { background: #ffd1d1 ; border:1px solid #DFA8A7; -moz-border-radius:8px; text-align: center; margin-bottom: 15px  }

/*-------------------------------------------------------------------------------------------*/
/* FEEDS PAGE */
/*-------------------------------------------------------------------------------------------*/

		.themes-page div.info { height:30px;}
		.themes-page div.info a {  float:left; margin: 0 10px 0 0; padding:3px 10px; background:#D7E6F2; -moz-border-radius:4px}
		.themes-page div.info a:link,
		.themes-page div.info a:visited { color:#21759B; font-size:10px; font-weight:bold; text-decoration:none; text-shadow:1px 1px 0 #FFFFFF;}
		.themes-page div.info a:active,
		.themes-page div.info a:hover{color:#155876;}

        ul.themes li.theme {border-bottom: 1px #ddd solid; padding: 20px 0;  height:230px}
        ul.themes li.theme span{ display:block; float: left}
        ul.themes li.theme span img{  }
        ul.themes li.theme div {margin-left: 310px; }
        ul.themes li.theme div h2 { font-size: 20px; background: #eee; padding: 0px 10px; margin-bottom: 10px; border-bottom:1px #ddd solid; border-top:1px #e1e1e1 solid}
        ul.themes li.theme div h2 a:link, 
        ul.themes li.theme div h2 a:visited {  color: #555; text-decoration: none; font-style: normal;}
        
        ul.themes li.theme div p { width: 450px; padding-left: 5px;}
        ul.themes li.theme div p{ font-size: 12px!important;  margin: 10px 10px 10px 10px; }
        ul.themes li.theme div ul {padding-left: 0px; color: #ccc; float:left; border-top:#eee 1px solid; padding-top: 10px;margin-left:20px }
        ul.themes li.theme div ul li { list-style: disc; list-style-position:inside;  }
        ul.themes li.theme div ul li a:link, 
        ul.themes li.theme div ul li a:visited { font-size: 12px!important; text-decoration: none;}
        ul.themes li.theme div ul li a:hover, 
        ul.themes li.theme div ul li a:active { text-decoration: underline ;}

/*-------------------------------------------------------------------------------------------*/
/* SIDEBAR MANAGER */
/*-------------------------------------------------------------------------------------------*/

#gomy_container #content.sbm-content { width: 785px; padding-top:20px }

#gomy_container #content.sbm-content .info-box  { position: relative; margin: 0px 0 20px 0; padding: 0 12px; background: #fff298; border: 1px solid #ecd852; }
#gomy_container #content.sbm-content .info-box h2  { font: bold 14px Helvetica, Arial, sans-serif; text-transform: uppercase; }
#gomy_container #content.sbm-content .info-box p  { margin: 5px 0 10px; font-family: Helvetica, Arial, sans-serif; }
#gomy_container #content.sbm-content .info-box .btn-close  { position: absolute; top: 7px; left: 730px; }

#sbm-sidebar  { float: left; width: 230px; margin: 0 20px 0 0; }
#sbm-main  { float: left; width: 505px; }

#gomy_container #gomy-sbm-menu { min-width: 230px; }
#gomy_container #gomy-sbm-menu h3  { padding: 7px 9px; font-size: 12px; cursor: default; }
#gomy_container #gomy-sbm-menu ul  { margin: 0 0 0 10px; }
#gomy_container #gomy-sbm-menu ul ul{ margin: 5px 0 0 5px; }
#gomy_container #gomy-sbm-menu ul li { cursor: pointer}
#gomy_container #gomy-sbm-menu ul li a { display: block; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #333; text-decoration: none; }
#gomy_container #gomy-sbm-menu ul li a:hover, #gomy_container #gomy-sbm-menu ul li li:hover  { color: #757575; }
#gomy_container #gomy-sbm-menu ul ul li { margin-bottom: 4px; }
#gomy_container #gomy-sbm-menu ul ul li span { display: none}
ul#gomy-sbm-menu_ul li a span { color: #999; }

#gomy_container h3 { margin: 0 0 10px 0}
#gomy_container h3 span { font-size: 10px; color: #ccc}
#gomy_container .gomy-sbm-tip { display:block; padding: 15px 15px 15px 15px; margin-bottom: 10px; background: #EDFCD5; text-shadow: 0 1px 0 #FFFFFF; border: 1px solid #D4EBAF; font: italic 13px/1.5em Georgia, serif;
}

#gomy_container #gomy-sbm-get-links { display:  none; }

#gomy-sbm-toggle-info  { float: right; margin: 3px 5px 0 0; text-decoration: none; text-transform: uppercase; font-size: 11px; }
#gomy-sbm-toggle-info img  { vertical-align: top; padding: 0 0 0 5px; }

#gomy_container .gomy-sbm-builder { position: relative}
#gomy_container .gomy-sbm-builder .nav-tabs-nav  { margin: 0 0 0 10px; }
#gomy_container .gomy-sbm-builder .nav-tab  { background: #F4F4F4; font-size: 11px; border-bottom: 1px solid #ccc; }
#gomy_container .gomy-sbm-builder .nav-tab-active  { font-weight: bold; background: #ececec; border-bottom: 1px solid #ececec; }
#gomy_container .gomy-sbm-builder .builder-header  {padding: 10px; border: 1px solid #ccc; border-width: 1px 1px 0; background: url( "images/gray-grad.png") repeat-x scroll left top #DFDFDF; border-top-right-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; }
#gomy_container .gomy-sbm-builder label { display: block; margin-bottom: 0px; padding: 5px 0; font-size: 12px}
#gomy_container .gomy-sbm-builder label span { float:left; width: 130px; font-weight: 700; text-align: right; margin-right: 10px}
#gomy_container .gomy-sbm-builder #gomy-sbm-label-sb-name span  { padding-top: 5px; }
#gomy_container .gomy-sbm-builder #gomy-sbm-builder-body label span  { font-size: 13px; color: #333; padding-top: 3px; }
#gomy_container .gomy-sbm-builder #gomy-sbm-builder-body select  { width: 330px; }
#gomy_container .gomy-sbm-builder #sidebar-description  { width: 330px!important; height: 80px; }
#gomy_container .gomy-sbm-builder #sidebar-title  { width: 330px; padding: 5px 0 6px 5px; }
#gomy_container .gomy-sbm-builder .gomy-sbm-controls .button  { width: 90px!important; margin-right: 23px; }
#gomy_container .gomy-sbm-builder #gomy-sbm-more-info { text-align: center; display: block; font-size: 11px; text-transform: uppercase }
#gomy_container .gomy-sbm-builder-edit { float:none; width: auto; margin:0; padding: 10px 0 0; border: 0; background: transparent none;}
#gomy_container .gomy-sbm-builder-edit input { width: 230px; }

#gomy_container #gomy-sbm-response-builder input { font-size: 12px; padding: 3px; width: 280px}

#gomy_container #gomy-sbm-sidebars {margin-top: 20px; padding-top: 20px; border-top: 1px solid #eee }
#gomy_container #gomy-sbm-sidebars #menu-to-edit  { padding: 0 0 30px; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li dt  { width: 492px; cursor: default; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li .menu-item-settings .description-thin  { width: 236px; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li .menu-item-settings .description-wide  { width: 481px; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li .menu-item-settings p label input, #gomy_container #gomy-sbm-sidebars #menu-to-edit li .menu-item-settings p label select, #gomy_container #gomy-sbm-sidebars #menu-to-edit li .menu-item-settings p label textarea  { margin-top: 5px;}
#gomy_container #gomy-sbm-sidebars #menu-to-edit li .menu-item-settings p  { margin-bottom: 20px; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li .menu-item-settings .menu-item-actions  { padding: 0; margin-top: -8px; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li.menu-item-depth-1  { margin-left: 15px; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li.menu-item-depth-1 dt  { width: 477px; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li.menu-item-depth-1 .menu-item-settings  { width: 477px; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li.menu-item-depth-1 .menu-item-settings .description-thin  { width: 336px; }
#gomy_container #gomy-sbm-sidebars #menu-to-edit li .menu-item-settings p label  { z-index: 9999; position: relative; }


#gomy_container .menu-item-depth-1 { margin-left: 30px; }


#gomy_container #gomy-sbm-builder-meta { display: none; font-size: 11px; padding: 0px; background: #fff; color: #555; border: 1px solid #ccc; width: 320px; position: absolute; top:-185px; right:0;
	 box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}
#gomy_container #gomy-sbm-builder-meta label { font-size: 11px; border-bottom: #ccc 1px solid;  padding: 5px 10px }
#gomy_container #gomy-sbm-builder-meta label span { text-transform: uppercase; width: 40px; text-align: right; padding-right: 5px;}
#gomy_container #gomy-sbm-builder-meta label.last { overflow:hidden; height:18px} 

#gomy_container #gomy-sbm-builder-body { padding: 10px; background: #f3f3f3;border: 1px solid; border-color: #fff #e3e3e3 #e3e3e3 #ddd;}
#gomy_container #gomy-sbm-builder-body label { border:0px;}
#gomy_container #gomy-sbm-builder-body label span {  color:#999; font-family: georgia,arial; font-size: 1.2em; font-weight: 100; font-style:italic}
#gomy_container .gomy-sbm-builder label span  { position: relative; z-index: 9999; }



#gomy_container #gomy-sbm-builder-meta-top { padding: 5px 10px; background: #ccc; color: #000; font-size: 14px; text-transform: uppercase }
#gomy_container #gomy-sbm-builder-meta-bottom {}

#gomy_container #gomy-sbm-builder-part-assign { display: none}
#gomy_container #gomy-sbm-builder-message { display:block; font-size: 11px; padding: 10px 0; cursor: pointer; text-decoration: underline; color:green; font-weight: 700;}
#gomy_container #gomy-sbm-builder-message:hover { text-decoration: none;}
#gomy_container .gomy-sbm-controls {height:20px; margin-top: 15px}
#gomy_container .gomy-sbm-controls .button { float:right}

#gomy_container .saved_sidebar { background: #D7E6F2; border:1px solid #C2CFDF; font-size: 13px; margin-bottom: 3px; padding: 5px 10px}
#gomy_container .piggy { margin-left: 6px; background: #C9D9E6; padding: 0px 10px;font-size: 11px}
#gomy_container .delete-sidebar { float:right; font-size: 9px; color: red; margin-left: 15px}
#gomy_container .edit-sidebar { float:right; font-size: 9px; color: green}

/* Nav Menu - From wordpress */
#menu-container .inside { padding-bottom: 10px; }

.menu {
	padding-top:1em;
}

#menu-to-edit {
	padding: 1em 0;
}

.menu ul {
	width: 100%;
}
.menu ul.sub-menu {
}
.menu li {
	margin-bottom: 0;
	position:relative;
}
.menu-item-bar {
	clear:both;
	line-height:1.5em;
	position:relative;
	margin-top: 13px;
}
.menu-item-handle {
	border: 1px solid #E6E6E6;
	position: relative;
	padding-left: 10px;
	height: auto;
	width: 400px;
	line-height: 35px;
	text-shadow: 0 1px 0 #FFFFFF;
	font-weight:bold;
	overflow: hidden;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	word-wrap: break-word;
}
.menu-item-edit-active .menu-item-handle {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-right-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.no-js .menu-item-edit-active .item-edit {
	display: none;
}
.js .menu-item-handle {
	cursor: move;
}
.menu li.deleting .menu-item-handle {
	background-color: #f66;
	background-image: none;
	text-shadow: 0 0 0 #ccc;
}

.menu-item-handle .item-title {
	padding: 7px 0;
	line-height: 20px;
	display:block;
	margin-right:13em;
}

.item-type { text-transform: uppercase; font-size: 11px; color: #999999; padding-right: 10px; }
.item-controls { font-size: 11px; position: absolute; right: 20px; top: -1px; }
.item-controls a { text-decoration: none; }
.item-controls a:hover { cursor: pointer; }
.item-controls .item-order { padding-right: 10px;}
.item-controls .item-order a {
	font-weight:bold;
}

body.js .item-order {
	display:none;
}

.item-controls .menu-item-delete:hover { color: #ff0000; }

.item-edit {
	background: url( "../../../../wp-admin/images/menu-bits.gif?ver=20100610") no-repeat scroll 0 -105px;
	position: absolute;
	right: -20px;
	top: 0;
	display: block;
	width: 23px;
	height: 36px;
	overflow: hidden;
	text-indent:-999em;
	border-bottom: 1px solid #eee;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

/* Menu editing */
.menu-instructions-inactive {
	display: none;
}
.menu-item-settings {
	background: #F9F9F9;
	display:block;
	width: 492px;
	padding: 10px 0 10px 10px;
	border: solid #E6E6E6;
	border-width: 0 1px 1px 1px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
}


.menu-item-settings:after {
	clear: both;
	content: '.';
	display: block;
	height: 0px;
	visibility: hidden;
}
.menu-item-settings input { width: 100%!important}

.menu-item-edit-active .menu-item-settings {
	display:block;
}

.menu-item-edit-inactive .menu-item-settings {
	display:none;
}

.add-menu-item-pagelinks {
	margin:.5em auto;
	text-align:center;
}

.link-to-original {
	display: block;
	margin: 0 0 10px;
	padding: 3px 5px 5px;
	font-size: 11px;
	color: #777;
	font-style: italic;
	border: 1px solid #dfdfdf;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}
	.link-to-original a {
		padding-left: 4px;
		font-style: normal;
	}

.hidden-field {
	display: none;
}

.menu-item-settings .description-thin,
.menu-item-settings .description-wide {
	margin-right: 10px;
	float: left;
}
.description-thin {
	width: 190px;
	height: 40px;
}
.description-wide {
	width: 390px;
}

.menu-item-actions {
	padding-top: 15px;
}

#cancel-save { cursor: pointer; }
#cancel-save:hover { color: #fff !important; }
#update-menu-item { color: #fff !important; }
#update-menu-item:hover,
#update-menu-item:active,
#update-menu-item:focus { color: #eaf2fa !important; border-color: #13455b !important; }

/* String Builder */
.add_button { height: 50px;}
.string_option { margin-bottom: 5px; padding: 7px 12px; font-size: 12px; background: #f7f7f7;
	border: 1px solid #dfdfdf;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}
.string_option span { font-weight: 700;}
.string_option .delete { text-transform: uppercase; font-size:10px; float: right; color: red}

/*-------------------------------------------------------------------------------------------*/
/* Icons Option panel */
/*-------------------------------------------------------------------------------------------*/

#gomy_container #gomy-nav ul li.general a { background-image:url(images/option-icon-general.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.styling a { background-image:url(images/option-icon-styling.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.typography a { background-image:url(images/option-icon-typography.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.image a { background-image:url(images/option-icon-image.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.ads a { background-image:url(images/option-icon-ads.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.homepage a { background-image:url(images/option-icon-homepage.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.media a { background-image:url(images/option-icon-media.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.calendar a { background-image:url(images/option-icon-calendar.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.slider a { background-image:url(images/option-icon-slider.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.box a { background-image:url(images/option-icon-box.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.layout a { background-image:url(images/option-icon-layout.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.header a { background-image:url(images/option-icon-header.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.featured a { background-image:url(images/option-icon-featured.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.main a { background-image:url(images/option-icon-main.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.sidebar a { background-image:url(images/option-icon-sidebar.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.footer a { background-image:url(images/option-icon-footer.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.portfolio a { background-image:url(images/option-icon-portfolio.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.tumblog a { background-image:url(images/option-icon-tumblog.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.nav a { background-image:url(images/option-icon-nav.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.audio a { background-image:url(images/option-icon-audio.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.misc a { background-image:url(images/option-icon-misc.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.maps a { background-image:url(images/option-icon-maps.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.searchoption a { background-image:url(images/option-icon-search.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.upload a { background-image:url(images/option-icon-upload.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.favorite a { background-image:url(images/option-icon-favorite.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.listing a { background-image:url(images/option-icon-listing.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.post a { background-image:url(images/option-icon-post.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.connect a { background-image:url(images/option-icon-connect.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }
#gomy_container #gomy-nav ul li.wpsc_presentation a { background-image:url(images/option-icon-cart.png); background-repeat: no-repeat; background-position: 15px center; padding-left:40px; }


/*-------------------------------------------------------------------------------------------*/
/* WP E Commerce Plugin Options Panel */
/*-------------------------------------------------------------------------------------------*/

#wpsc-presentation {
	min-height: 2650px;
	width: 600px;
} 

/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
