/*  
Theme Name:Intouch America
Theme URI:http://www.intouchamerica.com
Version:1.2
Description:Designed by <a href="http://gomysites.com">GoMySites</a>.
Author:GoMySites
Author URI:http://gomysites.com
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);

/*-------------------------------------------------------------------------------------------*/
/* RESET - http://meyerweb.com/eric/tools/css/reset/ | v1.0 | 20080212 */
/*-------------------------------------------------------------------------------------------*/
body,html{height:100%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, t{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;overflow-x:hidden;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
:focus{outline:0;}
del{text-decoration:line-through;color:#ff0000;}
table{border-collapse:collapse;border-spacing:0;}
.relative{position:relative;}

::-webkit-input-placeholder{color:#333;}
:-moz-placeholder{color:#333;opacity:1;}
::-moz-placeholder{color:#333;opacity:1;}
:-ms-input-placeholder{color:#333;}

/* Floating & Alignment  */
.fl{float:left;}
.fr{float:right;}
.ac{text-align:center;}
.ar{text-align:right;}


/* Clear Floats  */
.col-full:after, .facebook .gform_wrapper:after, .page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fix{clear:both;height:1px;overflow:hidden;margin:-1px 0 0;}
html body * span.clear,html body * div.clear,html body * li.clear,html body * dd.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;list-style:none;overflow:hidden;visibility:hidden;width:0;height:0;margin:0;padding:0;}


/* Defaults */
body{font-size:16px;color:#3f454b;font-weight:400;line-height:21px;}

h1, h2, h3, h4, h5, h6{margin:0 0 5px;color:#3f454b;font-weight:700;}
h1{font-size:30px;line-height:35px;}
h2{font-size:25px;line-height:30px;}
h3{font-size:22px;line-height:27px;}
h4{font-size:18px;line-height:25px;}
h5{font-size:15px;line-height:22px;}
h6{font-size:13px;line-height:18px;}
p{margin:0 0 15px;font-weight:400;}

@font-face{font-family:'SeanRegular';src:url('font/handsean-webfont.eot');src:url('font/handsean-webfont.eot?#iefix') format('embedded-opentype'),url('font/handsean-webfont.woff') format('woff'),url('font/handsean-webfont.ttf') format('truetype'),url('font/handsean-webfont.svg#SeanRegular') format('svg');font-weight:normal;font-style:normal;}

hr{background-color:#e6e6e6;border:0;height:1px;margin-bottom:20px;}

input, textarea{background-color:#FFFFFF;border:1px solid #CBCBCB;box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset;color:#4444;font-weight:400 !important;padding:5px !important;font-size:14px !important;}
select{border:1px solid #cbcbcb;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0 !important;font-size:14px !important;margin:0 !important;padding:2px !important;}

.red, .widget ul li a.red{color:#EA4848 !important;}
.orange, .orange em{color:#eb592a !important;}

/* Links */
a{color:#6db3c5;text-decoration:none;}
a:hover{color:#ff6633;text-decoration:none;}

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited{text-decoration:none;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{text-decoration:none;}

/* Seasonal Related Bits */
.xmas-lights{background:transparent url("images/christmas-lights.png") no-repeat;width:916px;height:77px;position:absolute;top:-64px;}

/* Containers & Columns */
#wrapper{}
#top-section{background:url("images/bg-master.jpg") repeat-x center -8px;border-bottom:1px solid #777777;}

#main-content{padding:40px 0;position:relative;}
#main-content-home{margin:0;position:relative;}
#main{width:600px;}
#main.fullwidth, #main.col-full, .layout-full #main{border:none;width:960px;}
.col-full{width:960px;margin:0 auto;}

.col-left{float:left;}
.col-right{float:right;}

.layout-right-content #main{float:right;}
.layout-right-content #sidebar{float:left;}


/* Navigation */
#navigation{font-size:13px;font-weight:700;margin-top:33px;}

#navigation ul.rss{margin:2px 0 0 0;}
#navigation ul.rss li{display:inline;padding:0;}
#navigation ul.rss li a{color:#d75418;text-decoration:none;padding:5px 12px;line-height:18px;display:inline-block;position:relative;}
#navigation ul.rss li.sub-email{color:#dedede;}
#navigation ul.rss li a:hover{text-decoration:underline;}

.nav{z-index:99;margin:0;padding:0;list-style:none;line-height:1;}
.nav a{position:relative;color:#BBBBBB;display:block;z-index:100;padding:2px 15px 35px;line-height:18px;text-decoration:none;}
.nav li{float:left;width:auto;}
.nav li a.sf-with-ul{padding-right:21px;}
.nav li.last{background:none;}

.nav a:hover,
.nav li.current_page_item a, 
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.current-menu-item a,
.nav li.sfHover{color:#ffffff;}


/* Optional Styling */
#navigation .nav li ul li{background:none;}
#navigation .nav li a{}
#navigation .nav li:first-child a{border-left:none;}

	/* Drop-down menus */
	.nav li ul{background:#000;margin:0;padding:10px 15px;position:absolute;left:-999em;width:180px;border-right:1px solid #555;border-left:1px solid #555;border-bottom:1px solid #555;z-index:9999;}
	.nav li ul li a{padding:8px 0px;width:180px;background:none;font-size:13px;}
	.nav li ul li a:hover{text-decoration:underline;}
	.nav li ul li a.sf-with-ul{padding-right:0;}
	.nav li ul ul{margin:-37px 0 0 140px;}
	
	.nav li ul li a:hover, 
	.nav li.current_page_item ul li a, 
	.nav li.current_page_parent ul li a,
	.nav li.current-menu-ancestor ul li a,
	.nav li.current-cat a ul li,
	.nav li.current-menu-item ul li a,
	.nav li.sfHover ul li{background:none;}
	
	.nav li:hover,.nav li.hover{position:static;}
	.nav li:hover ul ul, .nav li.sfhover ul ul,
	.nav li:hover ul ul ul, .nav li.sfhover ul ul ul,
	.nav li:hover ul ul ul ul, .nav li.sfhover ul ul ul ul{left:-999em;}
	.nav li:hover ul, .nav li.sfhover ul,
	.nav li li:hover ul, .nav li li.sfhover ul,
	.nav li li li:hover ul, .nav li li li.sfhover ul,
	.nav li li li li:hover ul, .nav li li li li.sfhover ul{left:auto;}
	
	.nav .sf-sub-indicator{background:	url("images/arrow.png") no-repeat;position:absolute;display:block;right:6px;top:14%;width:10px;height:10px;text-indent:-999em;overflow:hidden;}
	.nav li ul .sf-sub-indicator{background:url("images/bullet.png") no-repeat;top:38%;}
	#top-nav.nav .sf-sub-indicator{background:	url("images/arrow-topnav.png") no-repeat;right:0.5em;top:42%;}
	#top-nav.nav li ul .sf-sub-indicator{background:url("images/bullet-topnav.png") no-repeat;right:0.5em;top:35%;}
	
	/* Optional Styling */
	#navigation .nav li ul{
		/* Border Radius */
		border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;
	
		/* Box Shadow */
		-moz-box-shadow:0 2px 2px rgba(0,0,0,.03);-webkit-box-shadow:0 2px 2px rgba(0,0,0,.03);box-shadow:0 2px 2px rgba(0,0,0,.03);}
	#navigation .nav li ul ul{border-radius:0 4px 4px 4px;-moz-border-radius:0 4px 4px 4px;-webkit-border-radius:0 4px 4px 4px;}
	#navigation .nav li ul li a{border:0;border-bottom:1px dotted #545354;font-weight:normal;}
	#navigation .nav li ul li a:hover{text-decoration:none;}
	#navigation .nav li ul li:first-child a{border-top:none;}
	#navigation .nav li ul li:last-child a{border-bottom:none;}

	/* Top Navigation (optional) */
	#top{position:relative;z-index:9450;background:#000;}
	#top .nav{}
	#top .nav a{color:#ddd;padding:8px 10px;line-height:18px;text-decoration:none;text-shadow:none;font-family:sans-serif;}
	#top .nav li:first-child{ }
	#top .nav li a.sf-with-ul{padding-right:20px;}
	
	#top .nav a:hover, 
	#top .nav li.current_page_item a, 
	#top .nav li.current_page_parent a,
	#top .nav li.current-menu-ancestor a,
	#top .nav li.current-cat a,
	#top .nav li.current-menu-item a,
	#top .nav li.sfHover{background:#222;}
	
	#top .nav li ul{background:#222;margin:0;padding:0px;width:180px;border:none;z-index:999;/* Box Shadow */
		-moz-box-shadow:0 2px 2px rgba(0,0,0,.1);-webkit-box-shadow:0 2px 2px rgba(0,0,0,.1);box-shadow:0 2px 2px rgba(0,0,0,.1);}
	#top .nav li ul, #top .nav li ul li:last-child a{
		/* Border Radius */
		border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;
	}
	#top .nav li ul li{box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);}
	#top .nav li ul li a{padding:8px 10px;width:160px;color:#ddd;background:none;font-size:0.9em;}
	#top .nav li ul li a:hover{background:#000;}
	#top .nav li ul li a.sf-with-ul{padding-right:10px;}
	#top .nav li ul ul{margin:-34px 0 0 180px;}
	
	#top .nav li:hover, #top .nav li.hover{position:static;}
	#top .nav li:hover ul ul, #top .nav li.sfhover ul ul,
	#top .nav li:hover ul ul ul, #top .nav li.sfhover ul ul ul,
	#top .nav li:hover ul ul ul ul, #top .nav li.sfhover ul ul ul ul{left:-999em;}
	#top .nav li:hover ul, #top .nav li.sfhover ul,
	#top .nav li li:hover ul, #top .nav li li.sfhover ul,
	#top .nav li li li:hover ul, #top .nav li li li.sfhover ul,
	#top .nav li li li li:hover ul, #top .nav li li li li.sfhover ul{left:auto;}


/* Header */
#header-top{padding:10px 0 9px;text-shadow:2px 2px 1px #000000;}
#header-top h2, #header-top h4{font-family:'SeanRegular';color:#FFFFFF;font-size:16px;font-weight:normal;float:left;}
#header-top h3{color:#FFFFFF;font-weight:700;font-size:25px;float:left;margin:0 0 0 30px;}
#header-top h3 span{font-weight:400;font-size:14px;}
#header-top h4{float:right;}

#header-container{position:relative;z-index:9400;}
#header{padding:15px 0 0;clear:both;position:relative;}

#logo{float:left;padding-bottom:21px;}
#logo img{}
#logo .site-title, #logo .site-description{font-family:Georgia, serif;color:#000;display:none;}
#logo .site-title a{color:#222;font-size:40px;line-height:40px;text-transform:none;font-weight:normal;text-decoration:none;}
#logo .site-title a:hover{text-decoration:underline;}
#logo .site-description{color:#999;font:italic 14px Georgia, serif;}

.fb-like{float:right;}

.payment{display:block;text-indent:-9999px;width:123px;height:27px;background:transparent url("images/payment-btn.png") no-repeat 0 0;float:left;margin-left:30px;}

/* Text resizer */
.text-resizer{color:#FFFFFF;float:right;}
.text-resizer ul li{float:left;line-height:1em;margin:3px 0 0;padding:4px;}
.text-resizer li{}
.text-resizer li.resizer{}
.text-resizer li a{color:#FFFFFF;}
.text-resizer li a:hover{color:#CCCCCC;text-decoration:none;}
.jfontsize-button{font-size:14px;font-weight:bold;padding:0;margin:0;}
.jfontsize-disabled, .jfontsize-disabled:hover{color:#AAA;border:1px solid #EEE;background:#EEE;}


/* Site Seal */
.seal{bottom:10px;position:fixed;right:10px;z-index:999;}


/* Announcment Strip */
.announceWrap{background:#373D89;border-bottom:1px solid #3F3F3F;height:65px;}
.announceClose {background:transparent url("images/ico-close.png") no-repeat;cursor:pointer;display:block;float:left;height:27px;margin-left:8px;margin-top:19px;position:relative;width:27px;}
.free-shipping-text{color:#FFFFFF;float:left;font-size:23px;margin:16px 0 0 60px;}
.announceCont{width:960px;margin:0 auto;}


/* Language Switcher */
#language-switcher{float:right;margin:0 15px 0 0;}
#language-switcher .widget{margin:0;}
#language-switcher #translate-this .translate-this-button{width:150px;height:26px;}
.ttb-panel{z-index:9999 !important;}
.ttb-undo{display:none !important;}

#language-switcher{font-size:1px;}
#language-switcher .dropdown{font-size:12px;}
#language-switcher #tr_7, #language-switcher input{display:none !important;}
.dropdown dt a{width:95px !important;height:26px;background:url("images/language-btn.png") no-repeat !important;border:none !important;padding:0 !important;text-indent:-9999px !important;}
.dropdown dd ul{color:#6DB3C5 !important;border:1px solid #CCC !important;background:#EEE !important;text-shadow:none !important;z-index:9999999 !important;}



/* Sidebar */
#sidebar{width:300px;}
#sidebar-details{width:380px;border-top:1px solid #E9EBED;margin-top:30px;padding-top:10px;}
#sidebar .secondary{width:140px;} 
#sidebar{overflow:hidden;}
#sidebar .primary{}
#sidebar .secondary{float:left;margin-right:20px;} 
#sidebar .secondary.last{margin:0;} 


/* Sharebar */
.blog #sharebarx{display:none;}
.entry #sharebar img{border:none;box-shadow:none;padding:0;}
body ul#sharebar{padding:0 !important;}
body.single-portfolio #sharebar{margin-left:-665px !important;}



/* Breadcrumbs */
#breadcrumb-section{padding:20px 0;background:#F9F9F9;border-top:1px solid #222;border-bottom:1px solid #ddd;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);-moz-box-shadow:0 0 5px rgba(0,0,0,0.2);box-shadow:0 0 5px rgba(0,0,0,0.2);}
#breadcrumbs{float:left;font-style:italic;font-size:11px;line-height;}


/* Homepage */
#main-page1{margin:0;}
#main-page2{margin:0;}

#mini-features{background:#F4F4F4;padding:25px 0;margin:0 0 40px;border-bottom:1px solid #CCC;border-top:1px solid #CCC;-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);box-shadow:0 0 5px rgba(0, 0, 0, 0.2);}

#mini-features .block{width:960px;margin:0;float:left;border-bottom:1px solid #CCC;padding-bottom:15px;}
#mini-features .block.last{margin:0;border-top:1px solid #FFF;padding-top:30px;border-bottom:none;padding-bottom:0;}

#mini-features .feature{margin:0 0 0 20px;float:left;width:370px;}
#mini-features img{padding:4px;border:1px solid #c2c5ca;background:#fff;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);box-shadow:0 0 3px rgba(0, 0, 0, 0.1);float:left;}
#mini-features img:hover{border-color:#777;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.3);box-shadow:0 0 3px rgba(0, 0, 0, 0.3);}
#mini-features h3{font-size:24px;font-weight:700;color:#3f454b;line-height:22px;float:left;width:240px;margin-right:30px;font-style:italic;background:transparent url("images/mini-arrow.png") no-repeat right center;padding:5px 0;}
#mini-features p{}
#mini-features ul{margin-bottom:1.5em;padding:0 0 0 20px;}
#mini-features ul li{list-style-type:disc;padding-bottom:3px;}
#mini-features .bbb-logo{float:left;margin:-60px 0 0;}

#latest-blog-posts{padding-top:35px;border-top:1px solid #e9ebed;}
#latest-blog-posts h3{margin-bottom:25px;}
#latest-blog-posts .post h2.title a{font-size:13px;font-weight:bold;color:#3f454b;line-height:1em;}
#latest-blog-posts .post h2.title a:hover{color:#ff6633;}

#carousel-inner{background:url("images/diagonal-bg.png") repeat scroll 0 0 #FFFFFF;margin:6px 6px 0;padding:15px 12px;position:relative;width:auto;}
#carousel-inner a.btn-prev{background:url("images/carousel-prev.png") no-repeat scroll 0 0 transparent;height:43px;left:-29px;position:absolute;text-indent:-9999em;top:35%;width:22px;z-index:999;}
#carousel-inner a.btn-next{background:url("images/carousel-next.png") no-repeat scroll 0 0 transparent;height:43px;position:absolute;right:-29px;text-indent:-9999em;top:35%;width:22px;z-index:999;}
#carousel-inner a.btn-prev:hover{background:url("images/carousel-prev-hover.png") no-repeat scroll 0 0 transparent;}
#carousel-inner a.btn-next:hover{background:url("images/carousel-next-hover.png") no-repeat scroll 0 0 transparent;}
#carousel-inner a.btn-prev.disabled, #carousel-inner a.btn-next.disabled{display:none;}
#carousel-content-border{border-top:1px solid #EAEBEC;display:block;width:960px;}
.portfolio-carousel{overflow:hidden;height:133px;}
#homepage-portfolio-carousel li{margin:8px;overflow:visible !important;position:relative;float:left;}
#homepage-portfolio-carousel .plus{background:url("images/portfolio-plus.png") no-repeat scroll 0 0 transparent;height:26px;position:absolute;right:-5px;text-indent:-9999em;top:-5px;width:26px;}
#homepage-portfolio-carousel img{padding:4px;border:1px solid #c2c5ca;background:#fff;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);box-shadow:0 0 3px rgba(0, 0, 0, 0.1);}
#homepage-portfolio-carousel img:hover{border-color:#777;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.3);box-shadow:0 0 3px rgba(0, 0, 0, 0.3);}

img.bb-logo-home{float:left;padding:20px 0 0 20px !important;}
img.trust{float:left;padding:13px 0 0 20px !important;}

.christmas-lights{width:916px;height:77px;background:transparent url("images/christmas-lights.png") no-repeat; margin: -63px auto 20px;}

/* Six Reasons Panel */
#six-reasons{background:url("images/bg-grid.png") repeat scroll 0 0 #FBFDFE;border-color:#DCE0E4 #D7DBDE #D7DBDE;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border-style:solid;border-width:1px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);position:relative;}
#six-reasons .inner{padding:10px 10px 10px 10px;font-weight:bold;}
#six-reasons h2{margin:0 0 10px 105px;padding:0 0 0 15px;color:#FF4629;}
#six-reasons .col1, #six-reasons .col2{float:left;padding-top:5px;width:330px; margin-left: 105px;}
#six-reasons .col2{width:420px;margin-left: 0;}
#six-reasons .col1 ul, #six-reasons .col2 ul{padding-left:30px;}
#six-reasons .col1 ul li, #six-reasons .col2 ul li{font-size:16px;list-style-type:disc;padding:3px 0;}
#six-reasons .col3{width:176px;position:absolute;top:0px;right:12px;text-align:center;}
#six-reasons .inner p {margin: 0 auto;width: 360px;}
#six-reasons .inner .btn{border:1px solid rgba(0, 0, 0, 0.1);display:block;margin:15px auto 5px;width:160px;}


/* Shop Phones Intro Page */
.reg-page-panel{padding:0;}
.reg-page-panel img{float:right;margin:0px 10px 10px 10px;padding:5px;border:none;}
.reg-page-panel h2{padding:15px 0 10px 10px;font-size:30px;}
.reg-page-panel h3{margin:30px 0 10px;background:#ddd;}
.reg-page-panel h3 a{display:block;padding:10px 10px 5px;}
.reg-page-panel h3 a:hover{text-decoration:none;}
.reg-page-panel h3:hover{background:#ccc;}
.reg-page-panel p{padding-left:10px;}
.phones-note{padding:10px;margin-top:20px;border:1px solid #c2c5ca;background:#fff;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);box-shadow:0 0 3px rgba(0, 0, 0, 0.1);}
.phones-note p{font-size:11px;margin-bottom:10px;}
.phones-note p.plain{margin-bottom:0;}


/* Best Buys - Specials Pages */
.video-screen{background:url("images/screen-bg.jpg") no-repeat;width:499px;height:451px;padding:19px 0 0 19px;margin:30px auto 30px;}


/* Coverage Page */
.page-id-5043 #wrapper{background:#fff url("images/coverage-page-bg.jpg") repeat-x center 225px;min-height:2000px;}

.page-id-5043 #wrapper #breadcrumb-section{background:none;border-bottom:none;box-shadow:none;}
.page-id-5043 #wrapper #breadcrumb-section .breadcrumb-trail span{color:#ffffff;}

.page-id-5043 #wrapper #main-content h1{font-size:56px;color:#FFFFFF;font-weight:300;line-height:56px;margin:10px 0 17px;}
.page-id-5043 #wrapper #main-content h2{font-size:23px;color:#FFFFFF;font-weight:300;line-height:32px;margin-bottom:16px;}
.page-id-5043 #wrapper #main-content p{line-height:30px;}
.page-id-5043 #wrapper #main-content h1, .page-id-5043 #wrapper #main-content h2, .page-id-5043 #wrapper #main-content p{font-family:'Raleway', sans-serif !important;}

.coverage-blue-arrow-bottom{width:83px;height:83px;background:transparent url("images/coverage-page-arrow.png") no-repeat 0 0;text-indent:-9999px;margin:40px auto 30px !important;}

.coverage-form{margin:0 auto;box-shadow:0 0 20px rgba(0, 0, 0, 0.3);max-width:545px;padding:30px;}
.gform_wrapper .coverage-form li.gfield{margin-bottom:20px !important;}
.coverage-form input{background-color:#f1f1f1;border:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:15px !important;width:95% !important;}
.coverage-form .gform_footer{text-align:center;}
.coverage-form input.button{background:#39b54a;border:none;box-shadow:none;font-size:16px !important;font-weight:500 !important;padding:10px 95px !important;text-shadow:none;width:auto !important;}
.coverage-form input.button:hover{background:#2b993a;}
.coverage-form .gform_confirmation_message_68.gform_confirmation_message{color:#2b993a;font-size:20px;font-weight:600;text-align:center;height:185px;}

.page-id-5043 #wrapper #main-content .bbb-logo{margin:50px auto 0;width:200px;}



/* Deals of the Month Page */
.page-template-template-deals-php #main-content{background:#fff url("images/deals-bg.jpg") no-repeat center top;min-height:2000px;}
.page-template-template-deals-php #main-content h1{font-size:56px;color:#29ECF3;font-weight:300;line-height:56px;margin:10px 0 17px;}
.page-template-template-deals-php #main-content h2{font-size:23px;color:#FFFFFF;font-weight:300;line-height:32px;margin-bottom:16px;}

.page-template-template-deals-php #main-content h1, .page-template-template-deals-php #main-content h2, .page-template-template-deals-php #main-content h3, .page-template-template-deals-php #main-content h4, .page-template-template-deals-php #main-content p, .page-template-template-deals-php #main-content li{font-family:'Raleway', sans-serif !important;}

.deal-top-panel{background:#FFFFFF;width:860px;margin:0 auto;box-shadow:0 0 20px rgba(0,0,0,0.3);}
.deal-top-panel h3{color:#3f454b;font-size:19px;font-weight:300;line-height:31px;padding:25px 0 20px;text-align:center;}
.deal-top-panel .coloured{}
.deal-top-panel .coloured li:first-child{border-top:1px solid #DDD;}
.deal-top-panel .coloured li{color:#3f454b;font-weight:500;border-bottom:1px solid #EEE;list-style-type:none;padding:20px 0 20px 70px;background:#f2fdff url("images/deal-tick.png") no-repeat 35px center;}
.deal-top-panel .coloured li span.deal-price{font-size:23px;float:left;margin-right:10px !important;}
.deal-top-panel .coloured li span.deal-price.last{margin-top:10px !important;}
.deal-top-panel .coloured li span{font-size:15px;float:left;}
.deal-top-panel .coloured li span strong{color:#0D6D8F;font-weight:700;}
.deal-top-panel .btm-section{padding-bottom:20px;background:rgba(44,175,179,1);background:-moz-linear-gradient(left, rgba(44,175,179,1) 0%, rgba(32,156,201,1) 100%);background:-webkit-gradient(left top, right top, color-stop(0%, rgba(44,175,179,1)), color-stop(100%, rgba(32,156,201,1)));background:-webkit-linear-gradient(left, rgba(44,175,179,1) 0%, rgba(32,156,201,1) 100%);background:-o-linear-gradient(left, rgba(44,175,179,1) 0%, rgba(32,156,201,1) 100%);background:-ms-linear-gradient(left, rgba(44,175,179,1) 0%, rgba(32,156,201,1) 100%);background:linear-gradient(to right, rgba(44,175,179,1) 0%, rgba(32,156,201,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cafb3', endColorstr='#209cc9', GradientType=1 );}
.deal-top-panel h4{font-size:19px;color:#FFFFFF;font-weight:300;text-align:center;padding:15px 0 20px;}
.deal-top-panel .btm-left{color:#FFFFFF;float:left;font-size:15px;font-weight:400;margin-left:65px;padding:0 0 0 30px;}
.deal-top-panel .btm-right{color:#FFFFFF;float:left;font-size:15px;font-weight:400;margin-left:15px;padding:0 0 0 30px;}

/* other phone.deal-phone{background:transparent url("images/deals-phone2.png") no-repeat 0 0;height:411px;left:-117px;position:absolute;text-indent:-9999px;top:-289px;width:223px;} */
/* other phone .deal-phone{background:transparent url("images/deals-phone1.png") no-repeat 0 0;height:392px;left:-117px;position:absolute;text-indent:-9999px;top:-340px;width:215px;} */
/* flip phone .deal-phone{background:transparent url("images/deals-phone.png") no-repeat 0 0;height:641px;left:-95px;position:absolute;text-indent:-9999px;top:-512px;width:206px;}*/
.deal-samsung-phone{background:transparent url("images/deals-samsung-illusion.png") no-repeat 0 0;height:427px;left:-130px;position:absolute;text-indent:-9999px;top:-355px;width:222px;}
.deal-arrow{width:83px;height:83px;background:transparent url("images/deals-arrow-blue.png") no-repeat 0 0;text-indent:-9999px;margin:35px 0 23px 300px !important;}

.deal-bottom-panel{background:#FFFFFF;width:545px;margin:0 0 0 51px !important;box-shadow:0 0 20px rgba(0,0,0,0.3);float:left;}
.deal-bottom-panel h3{color:#3f454b;font-size:24px;font-weight:300;line-height:31px;padding:25px 0 0;text-align:center;}
.deal-bottom-panel h4{font-size:19px;color:#1a1c1d;font-weight:600;text-align:left;margin:20px 0 15px 20px;}
.deal-bottom-panel .coloured{}
.deal-bottom-panel .coloured li:first-child{border-top:1px solid #DDD;}
.deal-bottom-panel .coloured li{color:#3f454b;font-weight:300;border-bottom:1px solid #EEE;list-style-type:none;padding:20px 0 20px 70px;background:#f2fdff url("images/deal-tick.png") no-repeat 20px center;font-size:19px;}
.deal-bottom-panel h5{font-size:17px;color:#3f454b;font-weight:300;text-align:center;margin:20px 10px 30px !important;}

.page-template-template-deals-php #main-content .main-copy{margin-top:80px;}
.page-template-template-deals-php #main-content .main-copy p{margin-bottom:25px;line-height:30px;}
.page-template-template-deals-php .gform_description p{line-height:30px;}
.deal-arrow-bottom{width:83px;height:83px;background:transparent url("images/deals-arrow-blue.png") no-repeat 0 0;text-indent:-9999px;margin:40px auto 30px !important;}

.deals-form{margin:0 auto;box-shadow:0 0 20px rgba(0, 0, 0, 0.3);max-width:545px;padding:30px;}
.gform_wrapper .deals-form li.gfield{margin-bottom:20px !important;}
.deals-form input, .deals-form textarea{background-color:#f1f1f1;border:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:15px !important;width:95% !important;}
.deals-form textarea{height:150px !important;}
.deals-form .gform_footer{text-align:center;}
.deals-form input.button{background:#39b54a;border:none;box-shadow:none;font-size:16px !important;font-weight:500 !important;padding:10px 95px !important;text-shadow:none;width:auto !important;}
.deals-form input.button:hover{background:#2b993a;}
.deals-form .gform_confirmation_message_68.gform_confirmation_message{color:#2b993a;font-size:20px;font-weight:600;text-align:center;height:185px;}

.page-template-template-deals-php .bbb-logo{margin:50px auto 0;width:200px;}


/* Facebook Landing Page */
.page-template-template-landing-page-php #breadcrumb-section{background:transparent url("images/landing-breadcrumb-top.jpg") no-repeat center bottom;border-bottom:none;}
.page-template-template-landing-page-php #breadcrumb-section .breadcrumb-trail span{color:#FFFFFF;}

.wpb_row.vc_row-fluid.vc_custom_1399404847193{min-height:399px;}

.page-template-template-landing-page-php #content.page{background: url("images/landing-top.jpg") no-repeat center -1px;}
.page-template-template-landing-page-php .main-bullets{color:#FFFFFF;font-size:38px;line-height:55px;padding:15px 0 0 360px;}
.page-template-template-landing-page-php .main-bullets li{background:transparent url("images/tick.png") no-repeat 0 14px;padding:0 0 0 40px;}
.page-template-template-landing-page-php .bbb-logo{margin:0 0 0 360px;}
.page-template-template-landing-page-php .landing-form{background:rgba(0,0,0,0.5);padding:15px 20px;width:320px;margin-left:-25px;}
.page-template-template-landing-page-php .gform_wrapper .top_label input.medium, .page-template-template-landing-page-php .gform_wrapper .top_label select.medium{width:96% !important;color:#000 !important;}
.page-template-template-landing-page-php .gform_wrapper .gform_heading{margin-bottom:0 !important;}
.page-template-template-landing-page-php .landing-form .gform_confirmation_message{color:#fff;font-size:27px;line-height:30px;text-align:center;}
.landing-form .gform_description h2{color:#FFFFFF;font-size:21px;font-weight:bold;}
.landing-form .gform_description h2 span{font-weight:normal;}
.landing-form .gform_description h3{color:#FFFFFF;margin:25px 0 5px !important;}
.landing-form .gform_description p{color:#FFFFFF;}
.landing-form .button.gform_button{font-size:17px !important;margin-top:5px;padding:15px 0 !important;width:100%;}
.page-template-template-landing-page-php .gform_wrapper li.gfield.gfield_error.gfield_contains_required{margin:0 0 10px !important;padding:0 !important;}
.page-template-template-landing-page-php .gform_wrapper div.validation_error,
.page-template-template-landing-page-php .gfield_description.validation_message{display:none;}
.page-template-template-landing-page-php .gform_wrapper li.gfield.gfield_error{background-color:transparent !important;border:none !important;padding:0 !important;}
.gform_wrapper li.gfield_error input[type="text"], .gform_wrapper li.gfield_error input[type="url"], .gform_wrapper li.gfield_error input[type="email"], .gform_wrapper li.gfield_error input[type="tel"], .gform_wrapper li.gfield_error input[type="number"], .gform_wrapper li.gfield_error input[type="password"], .gform_wrapper li.gfield_error textarea{border:1px solid #EA4848 !important;}
.page-template-template-landing-page-php .gform_wrapper .top_label .gfield_error{width:100% !important;}
.page-template-template-landing-page-php .gform_wrapper .top_label .gfield_error input{background:#EA4848 !important;}
#field_56_4 .gfield_label, #input_56_5_4_container > label{display:none;}
.landing-form_wrapper.gform_wrapper .ginput_complex .ginput_full input[type="text"]{width:100% !important;}
.landing-form_wrapper.gform_wrapper #input_56_5_4_container.ginput_right{text-align:right;}
.landing-form_wrapper.gform_wrapper .ginput_complex .ginput_left, 
.landing-form_wrapper.gform_wrapper .ginput_complex .ginput_right,
.landing-form_wrapper.gform_wrapper .ginput_complex .ginput_full{min-height:40px;}
.landing-form_wrapper.gform_wrapper .gform_footer.top_label{padding:5px 0 0 !important;}

.deal{background:transparent url("images/great-deal.png") no-repeat 0 0;display:block;height:50px;left:-44px;position:absolute;text-indent:-9999px;width:50px;}
.landing-panel li p{margin:0 !important;}

.lp-inner p{text-align:left;font-size:18px;color:#000;margin:30px 0 0;line-height:27px;}
.lp-inner h3{color:#EB592A;margin-top:20px;}
.lp-inner ul{list-style-type:disc;padding:10px 0 0 15px;color:#EB592A;}
.lp-inner li{margin-bottom:8px;}
.lp-inner li em{font-size:17px;color:#000;line-height:22px;font-style:normal;}
.lp-inner li.red em{color:#EA4848 !important;}

.offer-panel1{}
.offer-panel1 h2, .offer-panel1 p,
.offer-panel2 h2, .offer-panel2 p{color:#FFF;}
.offer-panel1 em, .offer-panel2 em{font-size:18px;}
.offer-panel1 .wpb_text_column{min-height:98px;}
.offer-panel1 p{margin-top:34px;}
.offer-panel2 p{margin-top:40px;}

/* Bottom Form*/
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form{}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form h3{color:#FFFFFF;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .gform_wrapper{max-width:100%;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form{background:none;margin:0;padding:0;width:auto;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form .gform_footer{padding-top:0px !important;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form .gform_footer.top_label{float:none;width:100%;clear:none;text-align:right;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form .gform_body{float:none;width:100%;margin-bottom:20px;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form .gfield{clear:none;float:left;margin:0 20px 0 0 !important;width:293px !important;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form .gfield.last{margin-right:0 !important;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form .gfield input{padding:10px 5px !important;/*border:2px solid #ef6630;*/}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form .button.gform_button{margin-top:0px;padding:7px 0 !important;width:293px !important;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form .gform_confirmation_message{color:#fff;font-size:25px;line-height:30px;text-align:left;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .landing-form .gform_description h3{margin:30px 0 20px !important;}
.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form #gform_fields_63:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.page-template-template-landing-page-php .wpb_row.vc_row-fluid.bottom-form .gform_wrapper .ginput_container{width:100% !important;padding:0 !important;margin:0 20px 0 0 !important;}
.gform_wrapper h1, .gform_wrapper h2, .gform_wrapper h3{font-weight:700 !important;}


/* Brand New Landing Page */
body.page-template-template-landing-page-new #wrapper #top-section,
body.page-template-template-landing-page-new #wrapper #footer-container{display:none !important;}
body.page-template-template-landing-page-new #wrapper h1,body.page-template-template-landing-page-new #wrapper h2,body.page-template-template-landing-page-new #wrapper h3,body.page-template-template-landing-page-new #wrapper h4,body.page-template-template-landing-page-new #wrapper p, body.page-template-template-landing-page-new #wrapper li, body.page-template-template-landing-page-new #wrapper cite{font-family:'Raleway', sans-serif !important;} 
body.page-template-template-landing-page-new #wrapper #content .vc_custom_1427919663281{background-position:center bottom !important;}
body.page-template-template-landing-page-new #wrapper #content .vc_custom_1427919607290{background-position:center top !important;}
.col-landing{margin:0 auto !important;width:990px;}

.landing-heading h3{color:#FFFFFF;text-align:right;padding:0;font-weight:600;font-size:30px;}

.landing-top h1{text-align:center;color:#29ecf3;font-weight:700;font-size:46px;margin:0;padding:25px 0 20px;}
.landing-top h2{text-align:center;font-weight:500;color:#FFFFFF;font-size:30px;padding-bottom:35px;}
.landing-top.bullets ul.bullets li{background:transparent url("images/landing-bullet.png") no-repeat left center / 19px auto;font-size:22px;font-weight:500;line-height:26px;margin:0 0 16px;padding:0 0 0 28px;}

.landing-top .form-panel{background:#fff;border:1px solid #29ecf3;box-shadow:0 0 15px rgba(0, 0, 0, 0.5);padding:10px;min-height:504px;}
.landing-top .form-panel h3{background:#333333;color:#fff;font-size:21px;padding:15px;margin:0 !important;}
.landing-top .form-panel .gform_wrapper{background:#e9f5f6;margin:0;max-width:100%;padding:0 0 15px;}
.landing-top .form-panel .gform_wrapper .gform_body{padding:15px 15px 0;}
.landing-top .form-panel .gform_wrapper .gfield{margin-bottom:25px;}
.landing-top .form-panel .gform_wrapper .medium{border:1px solid #aaa;box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);padding:10px !important;width:94%;}
.landing-top .form-panel .gform_wrapper .gform_footer{padding:0 !important;margin:0 15px !important;}
.landing-top .form-panel .gform_wrapper .gform_button{background:#39b54a;color:#FFF;text-transform:uppercase;border:none;font-family:'Raleway', sans-serif !important;text-shadow:none;box-shadow:none;}
.landing-top .form-panel .gform_wrapper .gform_button:hover{background:#367f25;}
.landing-top .form-panel .gform_wrapper .top_label .gfield_error{width:100%;}
.landing-top .form-panel .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container{max-width:100%;}
.landing-top .form-panel .form-bottom{background:#e9f5f6;padding:15px;}
.landing-top .form-panel .form-bottom p{line-height:30px;}
.landing-top .form-panel .wpb_single_image.wpb_content_element.bbb.vc_align_right{bottom:-65px;position:absolute;right:10px;}
.landing-top .form-panel .gform_confirmation_message{color:#2fb745;font-family:"Raleway",sans-serif !important;font-size:30px;font-weight:600;line-height:31px;padding:142px 15px 149px;}

.landing-bottom h3{font-size:30px;font-weight:500;color:#fff;background:#333333;padding:10px 30px;display:inline;}
.landing-bottom h4{font-size:30px !important;font-weight:500;}
.landing-bottom p{font-size:20px;font-weight:300;line-height:30px;}

.landing-bottom cite{font-size:18px;font-weight:600;font-style:normal;margin:0 0 10px 3px;display:block;}
.landing-bottom .pic{float:left;width:82px;height:82px;}
.landing-bottom .pic.mark{background:transparent url("images/landing-mark-berrer.png") no-repeat 0 0;}
.landing-bottom .pic.loren{background:transparent url("images/landing-loren-william.png") no-repeat 0 0;}
.landing-bottom .pic.mary{background:transparent url("images/landing-mary-leon.png") no-repeat 0 0;}
.landing-bottom .pic.willey{background:transparent url("images/landing-willey-finney.png") no-repeat 0 0;}
.landing-bottom .quote{position:relative;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);float:right;margin:2px 0 0;padding:15px;width:337px;}
.landing-bottom .quote:after{content:'';position:absolute;border-style:solid;border-width:10px 10px 10px 0;border-color:transparent #FFFFFF;display:block;width:0;z-index:1;left:-10px;top:19px;}
body.page-template-template-landing-page-new #wrapper .landing-bottom .quote p{font-family:Georgia,"Times New Roman",Times,serif !important;font-size:14px;font-style:italic;line-height:21px;margin-bottom:0;}

.landing-bottom .land-foot{border-top: 1px solid #d7d7d7;}
.landing-bottom .land-foot p{font-size:12px;padding:25px 0 60px;}


/* Support Pages */
#download-support-list{padding:0;}
#download-support-list li{list-style-type:none;padding-bottom:20px;}
#download-support-list h3{margin-bottom:5px;}
.support-results{border-bottom:1px solid #E8E8E8;}
.support-results.list-thumbnail{height:auto;margin:0;min-height:72px;padding:15px 15px 15px 100px;}
.support-results .icon{margin-left:-95px;position:absolute;width:72px;}
.support-results .icon img{border:none;padding:0;}
.desc{margin-bottom:5px;}
.meta{color:#777;font-size:11px;}
.support-results.list-thumbnail .download{margin:8px 0 4px;font-size:11px;}
a.download-button{background:transparent url("images/downloadbutton-bg-left.gif") no-repeat left center;padding:3px 0 4px 12px;}
a.download-button span{background:transparent url("images/downloadbutton-bg-right.gif") no-repeat right center;padding:3px 12px 4px 0;}
.billing-note{font-size:11px;padding:10px;margin:4px 0 30px 0;border:1px solid #ddd;}


/* Map on Contact Us Page */
.map-holder{padding:4px;margin:10px 0;border:1px solid #c2c5ca;background:#fff;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);box-shadow:0 0 3px rgba(0, 0, 0, 0.1);}
#main-content .mapp-container{margin:0 !important;}
#mapp0_poweredby{display:none !important;}


/* Posts */
.post .video{margin:1.5em 0;}

.archive_header{display:block;float:left;font:bold 24px/1.5em sans-serif;}
.archive_header .catrss a{font-size:14px;text-decoration:none;line-height:28px;}
.catrss{clear:both;margin-right:30px;margin-top:5px;}

.post{margin:0 0 3em;}
body.page-template-template-blog-php .post .details{border-bottom:1px dashed #ddd;padding-bottom:20px;}
body.page-template-template-blog-php .post{margin-bottom:30px;}

.post .title, .page .title, .portfolio .title{margin:0 0 5px;position:relative;}
.post .title{margin-bottom:5px;}
.single .post .title{line-height:1.2em;}
.post .title a, .portfolio .title a{}
.post-meta{font-size:11px;color:#848d9a;line-height:16px;margin:0 0 5px;}
.post-meta a{text-decoration:none;}
.single .post-meta{}
.post-more{clear:both;margin:1em 0;color:#999;}
.post p.tags, .portfolio p.tags{color:#999;background:url("images/ico-tag.png") no-repeat top left;padding-left:25px;width:100%;clear:both;margin-bottom:20px;line-height:1.4em;}
.post-meta a, .post-more a, .post p.tags a{}
.post-more a:hover, .post-meta a:hover, .post p.tags a:hover{text-decoration:none;}
#post-entries{float:right;font-style:italic;font-size:11px;}
#post-entries a{}
.nav-prev{background:url("images/seperator.png") no-repeat scroll right 3px transparent;margin-right:15px;padding-right:15px;}
#title-container{margin:0 auto;padding:30px 0;}
#title-container .search_main{float:right;width:285px;}
#title-container .title, .archive_header{float:left;margin:0;color:#FFFFFF;text-shadow:2px 2px 1px #000000;}
#title-container .blog-title-sep{color:#BDC4CE;line-height:2em;margin:0 10px;}
#title-container .description{color:#BDC4CE;}


/* Typo */
.single .entry{border-top:1px solid #e9ebed;margin-top:20px;padding-top:20px;}
.entry blockquote{background:url("images/blockquote.png") no-repeat 0 12px;padding:10px 20px 10px 50px;color:#444;}
.entry blockquote p{font-style:italic;}

.entry ul.styled, #portfolio-content .entry ul{margin-bottom:1.5em;padding:0 0 0 30px;}
.entry ul{}
.entry ul ul{margin:0;}
.entry ul li{list-style-type:disc;padding-bottom:3px;}
.entry ul ul li{list-style-type:circle;}

.entry ol{margin-bottom:1.5em;padding:0 0 0 30px;}
.entry ol ol{margin:0;}
.entry  ol li{list-style-type:decimal;margin-bottom:10px;line-height:17px;}
.entry  ol li ol li{list-style-type:lower-latin;}

.entry .non-styled{margin:0 0 0 25px;}
.entry .non-styled li {list-style-type:none;padding:0 0 10px;}


/* Images */
.entry img, img.thumbnail{padding:4px;border:1px solid #c2c5ca;background:#fff;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);box-shadow:0 0 3px rgba(0, 0, 0, 0.1);}
img.plain, .plain img{padding:0;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:none;}
img.wp-smiley{padding:0;border:none;}
.post img.gomy-image.aligncenter{margin-top:10px;}

img.referral-img{border:none;padding:0 0 15px 0;}
img.best-buy{border:none;padding:4px 0;}
img.repair-logos{border:none;}
img.starburst-img{border:0;padding:0 30px 0 0;margin-top:4px;float:right;}

.alignleft{float:left;height:auto;margin:0px 20px 10px 0;}
.alignright{float:right;height:auto;margin:0px 0 10px 20px;}
.aligncenter{text-align:center;margin-bottom:15px;}
img.aligncenter{margin-left:auto;margin-right:auto;display:block;}

.entry .wp-caption{padding:1px;text-align:center;background:url("images/widget-bg-grid.png") repeat scroll 0 0 #FBFDFE;border-color:#DCE0E4 #D7DBDE #D7DBDE;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border-style:solid;border-width:1px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);}
.entry .wp-caption img{ margin:0;padding:4px 0;background:none;border:0;}
.entry .wp-caption-text{margin:0;padding:0;font:0.9em/1.5em sans-serif;text-align:center;}
.entry .wp-caption.aligncenter{margin:0 auto 15px;}

.ico-cal{background:url("images/ico-calendar.png") no-repeat scroll 0 0 transparent;width:33px;color:#848d9a;margin-top:10px;}
.ico-day{font-size:14px;padding:13px 0 7px;text-align:center;width:33px;line-height:1.1em;font-weight:bold;}
.ico-month{font-size:10px;text-align:center;text-transform:uppercase;font-family:sans-serif;line-height:2em;}


/* Pagination / WP-Pagenavi / gomy-Pagination */
.nav-entries, .wp-pagenavi, .gomy-pagination{padding:10px 15px;}
.nav-entries a{display:block;color:#777;text-decoration:none;}
.nav-entries a:hover{text-decoration:underline;}

.gomy-pagination{margin:0;text-align:center;}
.gomy-pagination a:link,
.gomy-pagination a:visited{display:inline;text-decoration:none;color:#666;padding:3px 7px;border:1px solid #DDDDDD;}
.gomy-pagination span.extend, .gomy-pagination .page-numbers{border:none;color:#666;}
.gomy-pagination a:link, .gomy-pagination a:visited, .gomy-pagination a:active, .gomy-pagination span.current{
	/* Border Radius */ 
	border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.gomy-pagination a:link, .gomy-pagination a:visited, .gomy-pagination a:active{
	border:1px solid #dedede;
	/* Gradient Background */
	background:#EBEBEB;
  	background:-moz-linear-gradient(100% 100% 90deg, #f5f5f5, #fff);
  	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5));}
.gomy-pagination .current, .gomy-pagination a:hover{padding:3px 7px;background:#EEEEEE;border:1px solid #bbb;}


/* Single Post Social Share */
.social-section{background:#F6F6F6;padding:10px;border:1px solid #DDDDDD;}
.social-section h4{float:left;margin:3px 15px 0;}
.social-section .icons{float:left;}
.social-section .icons span{margin:0 3px;}


/* Single Post Author */
#post-author{background:url("images/widget-bg-grid.png") repeat scroll 0 0 #FBFDFE;border-color:#DCE0E4 #D7DBDE #D7DBDE;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border-style:solid;border-width:1px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);margin:0 0 1.5em;padding:15px;clear:both;}
#post-author .title{margin-bottom:10px;}
#post-author .profile-image{float:left;margin:0 15px 5px 0;padding:5px;border:1px solid #c2c5ca;background:#fff;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);box-shadow:0 0 3px rgba(0, 0, 0, 0.1);}
#post-author .profile-content{margin-left:100px;}
#post-author .profile-link{ }


/* Entry Tables */
.entry table{width:100%;border:1px solid #CCCCCC;margin-bottom:40px;box-shadow:0 0 10px rgba(0, 0, 0, 0.2);}
.entry table tr.alt-table-row{background:#f9f9f9;}
.entry table th{padding:6px 0 3px 0;background:#FFFFFF;border:1px solid #CCCCCC;box-shadow:inset 0 0 1px #fff;-moz-box-shadow:inset 0 0 1px #fff;-webkit-box-shadow:inset 0 0 1px #fff;}
.entry table td{padding:10px;border:1px solid #CCCCCC;}
.entry table th h5{color:#FFF;}

table td.canada{background:transparent url("images/ico-canada.png") no-repeat 15px center;padding-left:55px;}
table td.mexico{background:transparent url("images/ico-mexico.png") no-repeat 15px center;padding-left:55px;}
table td.israel{background:transparent url("images/ico-israel.png") no-repeat 15px center;padding-left:55px;}
table td.france{background:transparent url("images/ico-france.png") no-repeat 15px center;padding-left:55px;}
table td.uk{background:transparent url("images/ico-uk.png") no-repeat 15px center;padding-left:55px;}
table td.china{background:transparent url("images/ico-china.png") no-repeat 15px center;padding-left:55px;}
table td.japan{background:transparent url("images/ico-japan.png") no-repeat 15px center;padding-left:55px;}
table td.korea{background:transparent url("images/ico-south-korea.png") no-repeat 15px center;padding-left:55px;}
table td.iran{background:transparent url("images/ico-iran.png") no-repeat 15px center;padding-left:55px;}

tr.row-child-top td{border-bottom:none;}
tr.row-child-mid td{border-bottom:none;border-top:none;}
tr.row-child-btm td{border-top:none;}

table.offer h5{margin-bottom:10px;}
table.offer p{margin:0;}
table.offer p.disclaimer{font-size:11px;margin-top:15px;}


/* Long Distance Plans */
.flash-one{background:url("images/long-flash1.jpg") no-repeat left center;padding:10px 0 5px 180px;margin-top:20px;}
.flash-two{background:url("images/long-flash2.jpg") no-repeat left center;padding:10px 0 5px 180px;margin-top:20px;}
.flash-three{background:url("images/long-flash3.jpg") no-repeat left center;padding:10px 0 5px 180px;margin-top:20px;}
.places-panel{float:left;width:200px;padding-top:10px;}
.poweredby{background:url("images/g3-logo.jpg") no-repeat;width:230px;height:57px;position:absolute;top:0;right:0;text-indent:-9999px;}
.relative{position:relative;}


/* Generic Widgets */
.widget{margin-bottom:25px;}
.widget h3{margin:0 0 1em 0;font:normal bold 14px sans-serif;color:#3f454b;}
.widget p{margin-bottom:1em;}
.widget a{color:#848d9a;}

.widget ul{clear:both;list-style-type:none;padding:0px;margin:0px;}
.widget ul li{}
.widget ul li a{line-height:22px;}
.widget ul li a:hover{}
.widget ul ul{padding:0 0 0 15px;border-top:none;}

.banner-radio{background:url("images/banner-radio.jpg") no-repeat;width:300px;height:158px;margin-bottom:30px;}
.banner-radio p.audioplayer_container{padding:88px 0 0 10px;}


/* Widgets - Search Form */
.searchform{background:#000000;width:99%;position:relative;border-color:#444444;border-radius:3px 3px 3px 3px;border-style:solid;border-width:1px;-webkit-box-shadow:0 0 8px rgba(0, 0, 0, 0.8);-moz-box-shadow:0 0 8px rgba(0, 0, 0, 0.8);box-shadow:0 0 8px rgba(0, 0, 0, 0.8);}
.searchform input.s{ padding:8px 8px 8px 30px;width:85%;margin:0;border:none;background:none;color:#bdc4ce;}
.searchform input.search-submit{position:absolute;top:8px;right:10px;border:none;margin:0;padding:0 !important;background:none !important;}


/* Widgets - Flickr */
.widget_gomy_flickr h3{}
.widget_gomy_flickr h3 span{color:#0061D8;}
.widget_gomy_flickr h3 span span{color:#FF1183;}
.widget_gomy_flickr .flickr_badge_image{float:left;margin:3px;}

.widget_gomy_flickr .wrap{position:relative;margin-bottom:20px;padding:0;}
.widget_gomy_flickr a img{float:left;margin:0 0 8px 8px;display:block;border:#CECFC6 1px solid;padding:3px;}
.widget_gomy_flickr a:hover img{border:#A8AA99 1px solid;}


/* Widgets - Lifestream */
.widget_lifestream ul li{border-bottom:1px solid #e0e6e6;}
.widget_lifestream ul li a{border:none;background:none!important;}
.widget_lifestream ul .lifestream_meta{color:inherit;}


/* Widgets - Calendar */
#wp-calendar{width:95%;margin-bottom:15px;clear:both;padding:0;}
#wp-calendar caption{padding:10px;}
#wp-calendar th,#wp-calendar td{text-align:center;background:#E7E7E7;color:#9E9E9E;padding:5px;}
#wp-calendar td{background:transparent;}
#wp-calendar td,table#wp-calendar th{padding:3px 0;}


/* Widgets - Blog Author Widget */
.widget_gomy_blogauthorinfo .avatar{padding:5px;border:1px solid #e6e6e6;background:#F8F8F8;background:rgba(255,255,255,0.7);}
.widget_gomy_blogauthorinfo .left{float:left;margin:0 10px 5px 0;}
.widget_gomy_blogauthorinfo .right{float:right;margin:0 0 5px 10px;}


/* Widgets - Twitter */
.widget_gomy_twitter .back{background:url("images/widget-bg-grid.png") repeat scroll 0 0 #FBFDFE;border-color:#DCE0E4 #D7DBDE #D7DBDE;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border-style:solid;border-width:1px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);}
.widget_gomy_twitter ul{padding-left:0;}
.widget_gomy_twitter ul li{background:url("images/ico-twitter.png") no-repeat scroll 10px 15px transparent;border-bottom:1px solid #D7DBDE;padding:15px 15px 15px 55px;list-style:none;}
.widget_gomy_twitter ul li:last-child{border:none;}
.widget_gomy_twitter ul li a{padding:0px;}
.widget_gomy_twitter ul li .time{color:#999;font-style:italic;}
.widget_gomy_twitter p{padding:0 0 0 55px;font-weight:bold;color:#777;}
.widget_gomy_twitter p a{color:#222;}
.widget_gomy_twitter ul li .content{font-size:12px;}
.widget.widget_gomy_twitter h3{border-bottom:none;padding:0;margin:0;padding-bottom:15px;}


/* Widgets - Feedback */
.feedback{position:relative;background:url("images/note-top.png") no-repeat scroll 0 0 transparent;color:#766958;font-style:italic;line-height:1.8em;padding:46px 20px 0 0;}
.feedback a{color:#766958;font-style:normal;}
.feedback .quotes{padding:0;}
.feedback blockquote{text-indent:20px;background:url("images/quotes-1.png");background-position:0 2px;background-repeat:no-repeat;}
.feedback blockquote p{line-height:21px;display:inline;margin:0;padding-right:22px;background:url("images/quotes-2.png");background-position:bottom right;background-repeat:no-repeat;}
.feedback-bottom{background:url("images/note-bottom.png") no-repeat scroll 0 0 transparent;padding:0 0 35px;}
.quotes{background:url("images/note-line-item.png") repeat-y scroll 0 0 transparent;padding:0 0 35px;width:285px;}
.quote{padding:0 10px 0 35px;}
.feedback cite{display:block;font-style:normal;font-weight:bold;margin-top:20px;}
.feedback .feedback-url{word-wrap:break-word;}
.feedback a.btn-prev{position:relative;bottom:15px;left:230px;width:10px;height:10px;background:url("images/ico-prev.png") no-repeat;display:inline-block;text-indent:-999em;z-index:99;opacity:0.8;}
.feedback a.btn-next{position:relative;bottom:15px;left:230px;width:10px;height:10px;background:url("images/ico-next.png") no-repeat;display:inline-block;text-indent:-999em;z-index:99;opacity:0.8;}
.feedback a.btn-next:hover, .feedback a.btn-prev:hover{opacity:1;}


/* Widgets - GoMyTabs */
#tabs{	height:auto;display:block;}

#tabs ul.gomyTabs{padding:0px;}
#tabs ul.gomyTabs li{background:url("images/seperator.png") no-repeat scroll right center transparent;float:left;display:inline;margin:0px;cursor:pointer;padding:0;}
#tabs ul.gomyTabs li:last-child{background:none;}
#tabs ul.gomyTabs li a{	color:#848d9a;display:block;float:left;padding:10px 12px;text-transform:none;font:bold 12px/18px sans-serif;}
#tabs ul.gomyTabs li a.selected{padding-bottom:11px;}
#tabs ul.gomyTabs li a.selected, 
#tabs ul.gomyTabs li a:hover{color:#555b63;background:url("images/arrow.png") no-repeat scroll center bottom transparent;text-decoration:none;}
#tabs ul.gomyTabs li:first-child a{padding-left:0;}

#tabs .inside{margin-top:12px;}
#tabs .inside ul, #tabs .inside #tab-tags{margin:0;padding:0;display:none;}
#tabs .inside ul:first-child{display:inline;}
#tabs .inside #tab-tags{ border-width:1px;padding:10px;}
#tabs .inside li{padding:15px 0;list-style:none;background:none;}
#tabs .inside li a{color:#3f454b;font-weight:bold;padding:0;}
#tabs .inside a:hover{ color:#FF6633;}
#tabs .inside #tab-tags a{padding:2px 4px;margin:3px 1px;display:inline-block;background:#f0f0f0;font-size:13px !important;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#tabs .inside #tab-tags a:hover{ background:#e6e6e6;text-decoration:none;}
#tabs .inside li span.meta{display:block;font-size:11px;text-transform:normal;color:#848d9a;padding-bottom:5px;line-height:2em;}
#tabs .inside li img.avatar, #tabs .inside li img.thumbnail{border:1px solid #ddd;padding:2px;background-color:#ffffff;float:left;margin:0 10px 0 0;}
#tabs .inside li img.avatar:hover, #tabs .inside li img.thumbnail:hover{border-color:#aaa;}
.tab-content{margin-left:53px;}


/* Comments */
#comments{position:relative;margin:2em 0 0;}
#comments h3{color:#333;font-weight:normal;margin-bottom:20px;}
#comments .comment.thread-even{border-bottom:1px dashed #E9EBED;}
#comments .comment.bypostauthor{}
ol.commentlist{margin-top:25px;}
#comments .comment{border-top:1px dashed #E9EBED;width:100%;list-style-type:none;}
#comments .comment.depth-1:first-child{border:none;}
#comments .comment.depth-1:last-child{border-bottom:none;}
#comments .comment .comment-container{position:relative;padding:20px 20px 20px 0;}
#comments .comment-head{margin:0 0 15px 50px;}
#comments .comment-head a{color:#3f454b;}
#comments .comment-head a:hover{color:#ff6633;}
#comments .comment-entry{margin:0 0 0 50px;}
#comments  .avatar{float:left;}
#comments  .avatar img{ margin:0;vertical-align:middle;padding:3px;border:1px solid #c2c5ca;background:#fff;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.1);box-shadow:0 0 3px rgba(0, 0, 0, 0.1);}
#comments .comment-head .name{margin:0;font-weight:bold;font-size:13px;}
#comments .comment-head .date, #comments .comment-head .edit, #comments .comment-head .perma{color:#848d9a;font-size:11px;}
#comments .comment-entry p{margin:0 0 10px 0;}
#comments .reply{padding-top:10px;position:absolute;right:0;top:5px;}
#comments .reply a{font:11px/18px sans-serif;text-transform:lowercase;}
#comments .reply a:hover{}

#comments ul.children{background:url("images/comment-child-arrow.png") no-repeat scroll 1.25em 2.5em transparent;margin:10px 0 0;padding:0 0 0 50px;}
#comments ul.children li{border-top:1px dashed #E9EBED;}
#comments .cancel-comment-reply{margin:10px 0;}

#comments .navigation{}
#comments .navigation a{ display:block;margin:15px 0 0 0;text-decoration:none;}
#comments .navigation a:hover{}

#comments h3#pings{margin-top:25px;}
#comments .pingbacks li.pingback{margin:10px 0;}
#comments .pingbacks li.pingback .reply{display:none;}

#comments .nocomments{font-size:14px;font-weight:bold;}
#comment-header, #reply-header, #dribbble-header{margin:20px 0;}
.comment-header-border{background-color:#e9ebed;height:1px;margin:0 auto;display:block;}


/* Comments Form */
#respond{margin:2em 0 0;}
#respond h3{color:#333;font-weight:normal;margin-bottom:20px;}
#respond .left{float:left;width:200px;margin-right:15px;}
#respond .right{float:left;width:380px;}
#respond label{font-size:11px;color:#777;}

#commentform{	margin:42px 0 0 0;}
#commentform p.field{float:left;margin:0 10px 0 0;width:32%;}
#commentform label{position:relative;display:inline;vertical-align:top;display:inline-block;margin-top:5px;}
#commentform input.txt, #commentform textarea{border:none;}
#commentform input.txt{color:#6D747E;background:#f6f8f9;width:170px;margin:0 5px 20px 0;padding:10px 7px;}
#commentform textarea{color:#6D747E;background:#f6f8f9;width:97% !important;padding:5px 7px;}
#commentform input.txt:focus, #commentform textarea:focus{border-color:#DCE0E4 #D7DBDE #D7DBDE;border-radius:3px 3px 3px 3px;border-style:solid;border-width:1px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);box-shadow:0 1px 2px rgba(0, 0, 0, 0.09);}

#respond #commentform #submit{cursor:pointer;float:right;font-family:sans-serif;font-size:12px;font-weight:bold;margin:15px 0 0;}


/* Pingbacks / Trackbacks */
h3#pings{margin:25px 0 10px 0;}
.pinglist li{margin:0 0 0 20px;list-style-type:decimal;}
.pinglist li .author{font-weight:bold;font-size:15px;}
.pinglist li .date{font-size:11px;}
.pinglist li .pingcontent{display:block;margin:10px 0;}


/* Buttons */
a.button, 
a.comment-reply-link, 
#commentform #submit,
input.button, .submit{display:inline-block;padding:5px 13px 4px !important;text-transform:uppercase;font-weight:700;border:1px solid #327222;border-bottom-color:#2b631e;color:#FFFFFF !important;text-align:center;text-shadow:0 -1px 0 hsla(0,0%,0%,.3);text-decoration:none;font-size:14px !important;cursor:pointer;
/*Border radius*/
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
	
/*Background*/
background:#367f25;/*Fallback*/
background:-webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(.2, #50a33c),
				color-stop(1, #367f25)
			);
background:-moz-linear-gradient(
				center top,
				#50a33c 20%,
				#367f25 100%);
	
/*Box shadow*/
-webkit-box-shadow:inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
					0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
-moz-box-shadow:inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
				0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
box-shadow:inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
			inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
			0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;}

a.button.large{padding:6px 16px;}
a.button.small, a.comment-reply-link{padding:0px 10px;}

a.button:hover, 
a.button.hover, 
a.button.active,
a.comment-reply-link:hover, 
#commentform #submit:hover,
input.button:hover{text-decoration:none !important;
/*Background*/
background:#377e26;/*Fallback*/
background:-webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(.2, #408e2e),
				color-stop(1, #377e26)
			);
background:-moz-linear-gradient(
				center top,
				#408e2e 20%,
				#377e26 100%);}

a.button:active,
a.button.active,
input.button:active{border-color:#408e2e;
/*Box shadow*/
-webkit-box-shadow:inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
-moz-box-shadow:inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
box-shadow:inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
			0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;}

a.button.inactive{border:1px solid #d5d5d5;border-bottom-color:#e6e2e2;color:#aeaeae;text-shadow:0 1px 0 white;
/*Background*/
background:#e8e8e8;/*Fallback*/
background:-webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(.2, #f3f3f3),
				color-stop(1, #e6e6e6));
background:-moz-linear-gradient(
				center top,
				#f3f3f3 20%,
				#e6e6e6 100%);
/*Box shadow*/
-webkit-box-shadow:inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
-moz-box-shadow:inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
				0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
box-shadow:inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
				0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;}

.meta-nav{color:#bdc4ce;font-weight:bold;margin:0 5px;}


/* Featured Green Button */
.btn, a.btn{background:#6BA80C;background:-webkit-gradient(linear, left top, left bottom, color-stop(.2, #AAE251), color-stop(1, #6BA80C));background:-moz-linear-gradient(center top, #AAE251 0%, #6BA80C 100%);border-color:#D1FB8E #AAE251 #AAE251;border-left:1px solid #AAE251;border-radius:5px 5px 5px 5px;border-right:1px solid #AAE251;border-style:solid;border-width:1px;box-shadow:0 1px 3px rgba(0, 0, 1, 0.3);color:#FFFFFF;cursor:pointer;display:inline-block;font-size:20px;font-weight:700;line-height:21px;margin:10px 0 0;padding:10px 25px;position:relative;text-align:center;text-decoration:none;text-shadow:0 1px 1px #385B01;text-transform:uppercase;}
.btn:hover, a.btn:hover{background:#B5EB60;background:-webkit-gradient(linear, left top, left bottom, color-stop(.2, #B5EB60), color-stop(1, #76B317));background:-moz-linear-gradient(center top, #B5EB60 0%, #76B317 100%);border-color:#E0FFAF #84C026 #84C026;border-left:1px solid #84C026;border-right:1px solid #84C026;border-style:solid;border-width:1px;text-shadow:0 1px 1px #385B01;}


/* Gravity forms */
.gfield{margin-bottom:10px;}
img.ui-datepicker-trigger{border:0px;padding:0px;}
#sidebar-details .gform_wrapper textarea{width:360px !important;height:100px !important;}
.gform_wrapper .gform_footer{margin:0 !important;padding:5px 0 10px !important;}
#sidebar-details .gform_wrapper input[type="text"]{width:360px !important;}
body.page-id-3495 #main .gform_wrapper select{font-size:13px;width:70%;}
.gform_wrapper .gfield.scroller .ginput_container, .gform_wrapper .gfield.hidden .ginput_container{display:none;}
.gform_wrapper .gfield.scroller .gfield_description{border:1px solid #CCCCCC;height: 150px;overflow: auto;padding: 10px;}
#main #field_52_26 .gfield_label{display:none !important;}
.ui-datepicker{z-index:99 !important;}
.gform_confirmation_message_52{margin-top:20px !important;}
.gform_wrapper .gfield_checkbox li input[type="checkbox"], .gform_wrapper .gfield_radio li input[type="radio"], .gform_wrapper .gfield_checkbox li input{margin-top:5px !important;}
.no-marg-top{margin-top:0 !important;}
.no-marg-btm{margin-bottom:0 !important;}
.gform_wrapper .gfield.ruled{border-bottom:1px dotted #ccc;margin:0 0 30px;padding:0 0 30px;}
.gform_wrapper .top_label .gfield_label{margin: 10px 0 4px !important;}
body .gform_wrapper label.gfield_label + div.ginput_container{margin-top:0 !important;}


/* Validation */
body .gform_wrapper .gform_heading{width:100%;}
body .gform_wrapper h2.gsection_title, body .gform_wrapper .gsection_description, body .gform_wrapper h3.gform_title{width:100%;}
body .gform_wrapper span.gform_description{font-weight:400;}
body .gform_wrapper div.validation_error{display:none !important;}
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required{margin-bottom:25px !important;margin-top:0 !important;padding:0 !important;}
body .gform_wrapper li.gfield.gfield_error, body .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{background-color:transparent;border:none;margin-bottom:0 !important;padding:0 !important;}
body .gform_wrapper .gfield_description.validation_message{display:none !important;}
body .gform_wrapper .top_label .gfield_error .ginput_container{max-width:100%;margin:0 !important;}
body .gform_wrapper li.gfield.gfield_error input, body .gform_wrapper li.gfield.gfield_error textarea{border:none !important;background:#EA4848;color:#FFFFFF;}
body .gform_wrapper .top_label li.gfield.gfield_error.gf_left_third, body .gform_wrapper .top_label li.gfield.gfield_error.gf_middle_third, body .gform_wrapper .top_label li.gfield.gfield_error.gf_right_third{width:32%;}


/* New Service Request form */
.gfield.gsection.service-form-heading{background:transparent url("images/form-arrow.png") no-repeat center top;margin-top:30px;padding-top:85px;}
#field_71_26{position:relative;}
#field_71_26 label, #field_71_26 .gfield_label{display:none;}
#field_71_26 .gfield_description{left:24px;padding:0;position:absolute;top:0px;}

#main-content #inline1{display:none;}
#inline1{background:#fff;width:500px;height:500px;}

.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description, .gform_wrapper .instruction{font-size:16px !important;font-family: "franklin-gothic-urw",sans-serif !important;}


/* Timeline Page Template */
#archives{padding:10px 0 0;}
#archives a{font-style:italic;}
h3.archive_year{font:bold 20px sans-serif;color:#3f454b;margin-top:0;}
#archives .archives_list{border-left:1px solid #e6e6e6;list-style:none;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0 0 15px 15px;}
#archives .archives_list li{clear:left;padding-left:24px;font-size:12px;font-style:normal;list-style:none;margin-bottom:10px;}
#archives .archives_list .date{color:#808080;width:100px;font-style:italic;display:inline-block;vertical-align:top;}
#archives .archives_list .linked{width:270px;display:inline-block;vertical-align:top;}
#archives .archives_list .comments{width:100px;display:inline-block;vertical-align:top;}
#archives .archives_list .comments a{color:#808080;font-size:12px;font-style:italic;text-decoration:underline;padding-left:13px;}
#archives .archives_list .comments a:hover{text-decoration:none;}


/* IE specific styling */
.ie6 .nav .sf-sub-indicator{display:none;}
.ie6 .nav li a:hover{text-decoration:none;}
.ie6 .nav li a.sf-with-ul{padding-right:10px;}
.ie6 .button, .ie6 .button:visited{margin:0;color:#3f454b !important;font-weight:normal;} .reply a{ color:#3f454b !important;}
.ie7 .nav li a{_height:0;zoom:1;} /* IE7 Fix */
.ie7 .button, .ie7 .button:visited{ padding:7px 6px;margin:0;}
.ie7 #navigation{zoom:1;}
.ie7 .slide .slide-content.entry{position:relative;margin-bottom:-250px;top:150px;bottom:auto;}
.ie7 .slide .slide-content.entry, .ie8 .slide .slide-content.entry{background:url("images/ie-transparency.png") repeat left top;}
.ie7 .rss{float:left;}
.ie7 .quotes *, .ie8 .quotes *{background-color:transparent!important;}
.ie7 #connect .newsletter-form .submit{padding:0!important;}
.ie7 #connect .newsletter-form .email{padding-left:10px;}
.ie7 .slide .styledtext{zoom:1;margin-top:-50px;display:inline-block;line-height:10px;}
.ie8 .button, .ie8 .button:visited{ padding:10px 15px;margin:0;}


/* Connect */
#connect{border:medium none;clear:both;padding:20px 0 0;}
#connect h3{margin-bottom:20px;}
#main #connect .col-left, #connect .col-right{width:48%;}
#connect .title{margin-bottom:10px;}
#connect p{background:url("images/ico-envelope.png") no-repeat scroll 0 5px transparent;margin:0 0 1em;padding:0 0 0 45px;}
#connect .newsletter-form{background:none repeat scroll 0 0 #F6F8F9;margin:0 0 1em;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#connect .newsletter-form .input{ }
#connect .newsletter-form .email{width:149px;background:none repeat scroll 0 0 transparent;border:medium none;padding-left:10px;text-transform:lowercase;}
#connect .newsletter-form .submit{cursor:pointer;margin:5px 5px 5px 25px;padding:4px 14px;text-transform:lowercase;}
#main #connect .newsletter-form .submit{margin:5px 5px 5px 19px;}
#connect .social{}
#connect .social a{opacity:0.8;}
#connect .social a:hover{opacity:1;}
#connect .related-posts{border-left:1px solid #e6e6e6;padding-left:15px;}
#connect .related-posts ul{list-style:outside disc;margin:5px 0 5px 15px;}
.widget #connect .fl, .widget #connect .fr{float:none;}
.widget #connect{padding:0;margin:0;}


/* Slider */
.gomy-slider #top{padding:20px 0 0 0;}
.gomy-slider #header{border-bottom:0;}
.gomy-slider #content{padding:20px 0px;}

#slides{padding:15px 0 0;position:relative;}
#slide-box{margin:0 auto;position:relative;width:960px;}
.slides_container{width:960px;z-index:999;}
.slides_container:first-child .slide{display:none;} /* Make sure the slider doesn't display all slides in a stack on load */
.slides_control{min-height:385px;}
.slide{width:960px;min-height:200px;}
.slide .slide-content.entry{width:300px;left:0px;bottom:40px;padding:10px 20px;position:absolute;font-size:13px;background-color:rgba(0,0,0,0.6);}
.slide .slide-content.video{background:none repeat scroll 0 0 transparent;border:medium none;-moz-box-shadow:0 0 0;-webkit-box-shadow:0 0 0;box-shadow:0 0 0;float:left;font-size:13px;padding:20px 0px 10px 20px;width:350px;margin:0;}
.slide .slide-content.video .title{color:#3585B3;font-size:32px;font-weight:bold;line-height:1.2em;margin-bottom:0.5em;}
.slide .slide-content.video p{color:#777777;font:13px/1.5em sans-serif;}
.slide .slide-content.entry h2 a{color:#fff;}
.slide-content p{color:#eaeaea;margin:0 0 0.5em;}
.slide-image{width:960px;}
.slide .slide-content.entry .title{font-size:24px;line-height:1em;margin:10px 0;color:#fff;}
.slide .slide-content.entry p{margin:0;}
.slide-img{}
.slide .video{float:right;padding:2px;margin-right:20px;border:1px solid #ddd;background:#fff;-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);}
.slide .vid-content{width:360px;}

#slides a.prev{background:url("images/btn-prev-slider.png") no-repeat scroll 0 0 transparent;height:21px;left:-40px;opacity:0.8;position:absolute;text-indent:-9999em;top:40%;width:21px;z-index:999;}
#slides a.next{background:url("images/btn-next-slider.png") no-repeat scroll 0 0 transparent;height:21px;opacity:0.8;position:absolute;right:-40px;text-indent:-9999em;top:40%;width:21px;z-index:999;}
#slides a.prev:hover, #slides a.next:hover{opacity:1;}

#slider_nav{margin-bottom:50px;margin-top:15px;position:relative;z-index:2;}
#slider_nav, #line_wrap{margin-left:auto;margin-right:auto;width:920px;}
#line_wrap{position:relative;z-index:1;}
#line{border-bottom:1px solid #E8E8E9;margin:30px 0 0;position:absolute;width:920px;}
#slider_pag{float:left;width:920px;}
#slider_pag ul{float:left;left:50%;margin:10px auto 0;max-width:700px;position:relative;}
#slider_pag li:first-child{padding:0 2px 0 12px;}
#slider_pag li:last-child{padding:0 10px 0 2px;}
#slider_pag li{background:url("images/bg.png") repeat scroll 0 0 transparent;float:left;padding:0 2px;position:relative;right:50%;}
#slider_pag a{border:medium none;display:block;height:11px;text-indent:-9999px;width:10px;}
#slides .pagination li a{display:block;width:10px;height:0;padding-top:10px;background-image:url("images/pagination.png");background-position:0 0;float:left;overflow:hidden;}
#slides .pagination li.current a{background-position:0 -10px;}

.slide .entry{border:none;margin:0 auto;padding:0;}
.slide .entry h1{color:#FFFFFF;text-shadow:1px 1px 2px #000;margin-bottom:10px;}
.slide .entry p{color:#FFFFFF;font-size:15px;line-height:20px;}
.slide .entry img, .slide img.thumbnail{background:none;border:none;-webkit-box-shadow:0 0 0;-moz-box-shadow:0 0 0;box-shadow:0 0 0;}

/* Portfolio */
#portfolio{padding:20px 0;border-top:1px solid #C2C2BE;border-bottom:1px solid #DFDDDC;border-top-color:rgba(0,0,0,.2);border-bottom-color:rgba(0,0,0,.1);overflow:hidden;}
.fullwidth #portfolio{border:none;padding:0;width:960px;}

#portfolio .group.portfolio-img{display:block;float:left;margin:0 10px 30px;width:220px;position:relative;}
#portfolio .group.portfolio-img h3{font-weight:400;font-size:17px;}
#portfolio .group.portfolio-img .out-of-stock, #main .out-of-stock{background:transparent url("images/out-of-stock.png") no-repeat;width:111px;height:111px;position:absolute;top:-3px;left:-3px;z-index:999;}
#portfolio .group.portfolio-img .senior-friendly{background:transparent url("images/senior-badge.png") no-repeat;width:114px;height:107px;position:absolute;top:-10px;right:-15px;z-index:999;}
.special-offer{background:transparent url("images/special-offer.png") no-repeat;width:81px;height:111px;position:absolute;top:15px;left:20px;z-index:999;}


.portfolio-img img{background:#fff;padding:2px;margin-bottom:10px;border:1px solid #DDD;}

.entry .portfolio-img{margin-bottom:20px;}

#port-tags{margin:5px 10px 35px;text-align:center;}
.port-cat{font-weight:bold;text-transform:capitalize;text-align:center;}
.port-cat li{background:url("images/seperator.png") no-repeat scroll right 5px transparent;padding:5px 0 0;display:inline;}
.port-cat a{color:#848d9a;margin:0;padding:2px 15px 15px;}
.port-cat ul li:last-child{background:none;}
.port-cat a:hover, .port-cat a.current{color:#3F454B;background:url("images/arrow.png") no-repeat scroll center bottom transparent;text-decoration:none;}


/* Single Portfolio */
.portfolio-img img:hover{border-color:#AAAAAA;}
#portfolio-content{float:left;width:380px;margin-left:38px;}
#portfolio-content h2{font-size:2em;margin-bottom:10px;}
#portfolio-content h3{color:#3F454B;font:bold 14px sans-serif;margin:0 0 1em;}
#portfolio-content .entry{border-top:1px solid #E9EBED;margin:20px 0;padding-top:20px;}
#portfolio-content a.button{font-weight:bold;padding:4px 13px;}
#portfolio-content #testimonial{border-top:1px dotted #BFC5CA;padding-top:20px;}
#gallery h2{font-size:14px !important;color:#000;margin-top:20px;margin-bottom:16px;}
#gallery, .single-portfolio .video{float:left;width:542px;}
#gallery .slides div{width:542px;margin-right:2px;text-align:center;}
#loopedSlider.gallery{ position:relative;margin:0 0 30px;z-index:1;}
#loopedSlider.gallery .container{height:340px;overflow:hidden;position:relative;margin:0 0 10px 0;}
#loopedSlider.gallery .slides{position:absolute;top:0;left:0;}
#loopedSlider.gallery .slides img, #gallery img{padding:2px;border:1px solid #ddd;background:#fff;max-width:535px;}
#loopedSlider.gallery .slides img:hover, #gallery img:hover{border:1px solid #AAAAAA;}
.jcarousel-container{width:540px;margin:0 auto;text-align:center;}
.jcarousel-clip{width:540px;margin:0 auto;}
.jcarousel-item{width:160px;height:160px;}
.jcarousel-next, .jcarousel-prev{position:absolute;top:80px;cursor:pointer;height:10px;width:7px;background-position:top left;background-repeat:no-repeat;}
.jcarousel-prev{left:-12px;background-image:url("images/ico-gallery-prev.png");}
.jcarousel-next{right:-12px;background-image:url("images/ico-gallery-next.png");}
.sidebar .jcarousel-container{width:540px;}
.sidebar .jcarousel-clip{width:542px;}
#loopedSlider.gallery .pagination{margin-top:800px;float:left;float:left;height:170px;}
#loopedSlider.gallery .pagination li{margin:0;}
#loopedSlider.gallery .pagination li img{padding:2px;border:1px solid #DDDDDD;background:#FFFFFF;}
#loopedSlider.gallery .pagination li img:hover{border:1px solid #AAAAAA;}
#loopedSlider.gallery .pagination li.active img{}
#TB_overlay{z-index:9998!important;}
#TB_window{z-index:9999!important;}
#loopedSlider.gallery .gallery-hover{position:absolute;top:0;left:0;width:100%;height:100%;}
#single-gallery-image{margin:0 auto 50px auto;}



/* Footer */
#footer-container{background:#252525 url("images/bg-footer.jpg") no-repeat center top;}
#footer{position:relative;padding:20px 0 30px;border-top:1px solid #444444;color:#DDDDDD;font-size:11px;}
#footer a{color:#BBBBBB;}
#footer a:hover{color:#FFFFFF;}
#footer p{font-size:11px;}
#footer #credit img{vertical-align:middle;}
#footer #credit span{display:none;}
#footer .ft-social{float:left;margin:-3px 0 0 10px;}
#footer .ft-social iframe{margin:0 !important;}

#footer-widgets{border-bottom:1px solid #111111;padding:20px 0 35px;position:relative;}
#footer-widgets a{color:#BBBBBB;}
#footer-widgets a:hover{color:#FFFFFF;}
#footer-widgets .widget{border-bottom:0;margin:0;}
#footer-widgets .widget li{padding-bottom:3px;}
#footer-widgets .block{margin:20px 10px 0 10px;width:210px;float:left;background:transparent url("images/verticaldots.png") repeat-y 195px center;}
#footer-widgets.col-1 .block{width:100%;padding-left:0;}
#footer-widgets.col-2 .block{width:460px;}
#footer-widgets.col-3 .block{width:300px;}
#footer-widgets.col-4 .block{width:220px;}
#footer-widgets.col-4 .block.footer-widget-4{background:none;}

@media only screen and (max-width : 1023px)
{
.col-full {
    width: 100%;
    margin: 0 auto;
}
.col-landing {
    margin: 0 auto !important;
    width: 100%;
}
}
@media only screen and (max-width : 991px)
{
.landing-heading h3
{
font-size: 24px;
    margin-top: -10px;	
}
.wpb_text_column.wpb_content_element h1 {
    font-size: 24px;
}
.landing-top .form-panel .gform_wrapper .medium
{
width:100%;
}
}

@media only screen and (max-width : 767px)
{
.vc_col-sm-6.wpb_column.vc_column_container {
    float: left;
    width: 50%;
}
.wpb_wrapper h3 {
    font-size: 18px;
}
.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
    margin-bottom: -30px;
}
.vc_btn3-container.vc_btn3-inline {
    margin-top: 0px;
}
.landing-top .form-panel h3
{
font-size:15px;
text-align:center
}
.gform_wrapper span.gform_description {
    font-weight: 400;
    display: block;
    width: calc(100%);
    margin-bottom: 16px;
}
.landing-top .form-panel .gform_wrapper .gform_footer {
    padding: 15px !important;
    width: 100%;
    margin: 0 0px !important;
}
input#gform_submit_button_72 {
    margin: 0 !important;
    width: 100%;
    font-size: 15px !important;
    margin-top: -15px !important;
}
.vc_row.wpb_row.vc_row-fluid.vc_custom_1427926592684 {
    float: left;
    clear: both;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 0px !important;
}
ul#gform_fields_72 li {
    padding: 0 !important;
}
.gform_wrapper span.gform_description {
    font-weight: 400;
    display: block;
    width: calc(100% - 0px) !important;
    margin-bottom: 0 !important;
}
.landing-bottom .quote
{
width:60%;
}
.vc_custom_1428096992859 {
    margin-bottom: 35px !important;
}
.vc_custom_1427925956829 {
    margin-bottom: 0 !important;
}
p {
    font-size: 14px !important;
    line-height: 18px !important;
}
.landing-top .form-panel .form-bottom {
    background: #e9f5f6;
    padding: 0px 15px 15px;
}
.vc_custom_1472769538164 {
    margin-bottom: 25px !important;
}
}
@media only screen and (max-width : 700px)
{

.landing-heading h3
{
text-align:center;
}
.vc_row.wpb_row.vc_inner.vc_row-fluid.col-landing.landing-bottom.vc_custom_1427925525194 .vc_col-sm-6.wpb_column.vc_column_container
{
width:100%;
}
.vc_row.wpb_row.vc_inner.vc_row-fluid.col-landing.landing-bottom.vc_custom_1427925956829
{
margin-bottom:0px !important;
}
.vc_row.wpb_row.vc_inner.vc_row-fluid.col-landing.landing-bottom.vc_custom_1427925956829 .vc_col-sm-6.wpb_column.vc_column_container
{
width:100%;
}
.wpb_single_image img
 {
    height: auto;
    max-width: 100%;
    width: 150px;
 }
 .vc_row.wpb_row.vc_inner.vc_row-fluid.col-landing.landing-top.bullets.vc_custom_1435145817789 .vc_col-sm-6 {
    float: left;
    width: 100%;
}
}
@media(max-width:600px){
.mob_hide {
    display: none;
}
}
@media(max-width:480px){
h1.ban_head span{
font-size:20px;
line-height:20px;
}
h1.bansub_head span{
font-size:20px;
line-height:20px;
}
h3.what_cust_head {
    font-size: 16px;
    padding: 10px 4px;
}
.landing-bottom .pic.mark{
background-size:100%;
}
.landing-bottom .pic{
width:69px;
height:69px;
    background-size: 100% auto !important;
}
.who_we_head h4{
font-size:22px !important;
}
.mob_hide{
display:none;
}
.landing-top .form-panel .gform_wrapper .gform_body{
padding:0 15px;
}
.gform_wrapper .gform_heading{
margin-bottom:30px;
}
.vc_custom_1428096992859 {
    margin-bottom: 40px !important;
}
.vc_custom_1427925525194{
margin-bottom:0px;
}
.quote-cont {
    margin-bottom: 30px;
}
.vc_custom_1427922088461{
padding-top:30px !important;
}
.vc_custom_1472769538164{
margin-bottom:30px;
}
.landing-bottom .land-foot p{
padding-top:30px;
padding-bottom:30px;
}
body.page-template-template-landing-page-new #wrapper #content .vc_custom_1427919663281{
margin:0px;
}
body.page-template-template-landing-page-new #wrapper #content .vc_custom_1427919663281 .vc_column_container{
padding:0px;
} 
.page-template-template-landing-page-new .vc_row{
margin:0px !important;
padding-bottom:0px;
}
}
@media(max-width:450px){
.call_deal{
font-size:12px !important;
}
}
@media(max-width:340px){
.call_deal{
font-size:11px !important;
}
}